@model LPS_ProjectManagement.Models.MasterDataModels.ProjectModel
@using LPS_ProjectManagement.Models

@{
    ViewBag.Title = "Detil Master Data Project";
    Layout = "~/Views/Shared/_Layout.cshtml";
    RoleProject[] RoleAplikasi = (RoleProject[])Session["Roles"];
}

@using (Html.BeginForm(null, null, FormMethod.Post, new { id = "__AjaxAntiForgeryForm" }))
{
    @Html.AntiForgeryToken()}

<style>
    a.buttonu {
        appearance: button;
        text-decoration: none;
        padding: 10px;
        font-size: 12px;
        font-weight: bold;
        background: #5DDBB5;
        border: none;
        border-radius: 4px;
        color: white;
        cursor: pointer;
    }

    .modalu {
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background: rgba(0, 0, 0, 0.8);
        z-index: 99999;
        opacity: 0;
        transition: opacity 400ms ease-in;
        pointer-events: none;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        min-height: 100vh;
    }

    .content-modalu {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        background: white;
        padding: 30px;
        border-radius: 10px;
        width: 50%;
        height: 60vh;
    }

    .modalu:target {
        opacity: 1;
        pointer-events: auto;
    }

    .modalu h1 {
        font-size: 42px;
    }

    .content-modalu a {
        font-weight: bold;
    }

    .close {
        align-self: flex-end;
        text-decoration: none;
        color: red;
    }

    .thumb-pic {
        object-fit: cover;
        border-radius: 50%;
        height: 150px;
        width: 150px;
    }

    .table > tbody > tr > td, .table > tbody > tr > th, .table > tfoot > tr > td, .table > tfoot > tr > th, .table > thead > tr > td, .table > thead > tr > th {
        vertical-align: middle !important;
        text-align: center !important;
    }

    .table > thead > tr > th {
        text-align: center !important;
    }

    .vertical-center {
        margin: 0;
        position: absolute;
        top: 50%;
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
    }
</style>

<style>
    /*
     CSS for the main interaction
    */
    .tabset > input[type="radio"] {
        position: absolute;
        left: -200vw;
    }

    .tabset .tab-panel {
        display: none;
    }

    .tabset > input:first-child:checked ~ .tab-panels > .tab-panel:first-child,
    .tabset > input:nth-child(3):checked ~ .tab-panels > .tab-panel:nth-child(2),
    .tabset > input:nth-child(5):checked ~ .tab-panels > .tab-panel:nth-child(3),
    .tabset > input:nth-child(7):checked ~ .tab-panels > .tab-panel:nth-child(4),
    .tabset > input:nth-child(9):checked ~ .tab-panels > .tab-panel:nth-child(5),
    .tabset > input:nth-child(11):checked ~ .tab-panels > .tab-panel:nth-child(6),
    .tabset > input:nth-child(13):checked ~ .tab-panels > .tab-panel:nth-child(7) {
        display: block;
    }

    /*
     Styling
    */


    .tabset > label {
        position: relative;
        display: inline-block;
        padding: 15px 15px 25px;
        border: 1px solid transparent;
        border-bottom: 0;
        cursor: pointer;
        font-weight: 600;
        font-family: 'Segoe UI';
    }

        .tabset > label::after {
            content: "";
            position: absolute;
            left: 15px;
            bottom: 10px;
            width: 22px;
            height: 4px;
            background: #8d8d8d;
        }

        .tabset > label:hover,
        .tabset > input:focus + label {
            color: white;
            background-color: #dba628;
        }

            .tabset > label:hover::after,
            .tabset > input:focus + label::after,
            .tabset > input:checked + label::after {
                background: white;
            }

    .tabset > input:checked + label {
        border-color: #ccc;
        border-bottom: 1px solid #fff;
        margin-bottom: -1px;
    }

    .tab-panel {
        padding: 30px 0;
        border-top: 1px solid #ccc;
    }
</style>

<input id="hdf" type="hidden" value="@Session["PersonalNumber"].ToString()" />

<section class="box">
    <div class="content-body padding-top-10">

        <div class="row">
            <div class="tab-content">
                <div class="tab-pane ng-scope active" style="">
                    <form name="step1" class="form-validation padding-left-0 ng-pristine ng-scope ng-invalid ng-invalid-required ng-valid-url">
                        <div class="tabset">
                            <!-- Tab 1 -->
                            <input type="radio" name="tabset" id="tab1" aria-controls="Data Utama" checked="checked">
                            <label for="tab1">Formulir</label>
                            <!-- Tab 2 -->
                            <!--<input type="radio" name="tabset" id="tab2" aria-controls="mpp">-->
                            <!--<label for="tab2">List User</label>-->

                            <div class="tab-panels">

                                <section id="formulir" class="tab-panel">

                                    <div class="row">
                                        <div class="form-group col-md-8">
                                            <label class="form-label" for="ddlProgram" style="font-weight:bold">Program</label>
                                            <label style="color:red">*</label>
                                            <div class="controls">
                                                <select id="ddlProgram" class="form-control ddlprogram" style="width:100%">
                                                    <option value="0">
                                                        Select
                                                    </option>
                                                    @foreach (var data in Model.ListProgram)
                                                    {
                                                        if (data.IsActive == true)
                                                        {
                                                            <option value="@data.IDProgram" selected="selected">@data.ProgramName</option>
                                                        }
                                                        else
                                                        {
                                                            <option value="@data.IDProgram">@data.ProgramName</option>
                                                        }
                                                    }
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="form-group col-md-8">
                                            <label class="form-label" for="txtProjectName" style="font-weight:bold">Nama Project</label>
                                            <label style="color:red">*</label>
                                            <div class="controls">
                                                <input type="text" class="form-control" id="txtProjectName" placeholder="Project Name" value="@Model.ProjectName">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="form-group col-md-8">
                                            <label class="form-label" for="txtNoProject" style="font-weight:bold">Kode Project</label>
                                            <label style="color:red">*</label>
                                            <div class="controls">
                                                <input type="text" class="form-control" id="txtNoProject" placeholder="Project Code" value="@Model.ProjectNo">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="form-group col-md-8">
                                            <label class="form-label" for="txtWeight" style="font-weight:bold">Bobot Project</label>
                                            <label style="color:red">*</label>
                                            <div class="controls">
                                                @if (Model.Weight == 0)
                                                {
                                                    <input type="number" class="form-control" id="txtWeight" placeholder="Project Weight" value="100" onchange="ValidWeight()">

                                                }
                                                else
                                                {
                                                    <input type="number" class="form-control" id="txtWeight" placeholder="Project Weight" value="@Model.Weight" onchange="ValidWeight()">

                                                }
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="form-group col-md-8">
                                            <label class="form-label" for="txtPoin" style="font-weight:bold">Poin Project</label>
                                            <div class="controls">
                                                <input type="number" class="form-control" id="txtPoin" placeholder="Poin Project" value="@Model.Poin">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="form-group col-md-8">
                                            <label class="form-label" for="ddlYear" style="font-weight:bold">Tahun Project</label>
                                            <label style="color:red">*</label>
                                            <div class="controls">
                                                <select id="ddlYear" class="form-control ddlYear" style="width:100%;">
                                                    <option value="0">Select</option>
                                                    @for (int year = Convert.ToInt32(DateTime.Now.Year.ToString()) - 10; year <= Convert.ToInt32(DateTime.Now.Year.ToString()) + 10; year++)
                                                    {
                                                        if (Model.Year != null)
                                                        {
                                                            if (Convert.ToInt32(Model.Year) == year)
                                                            {
                                                                <option value=@year selected="selected">@year</option>
                                                            }
                                                            else
                                                            {
                                                                <option value=@year>@year</option>
                                                            }
                                                        }
                                                        else
                                                        {
                                                            if (Convert.ToInt32(DateTime.Now.Year.ToString()) == year)
                                                            {
                                                                <option value=@year selected="selected">@year</option>
                                                            }
                                                            else
                                                            {
                                                                <option value=@year>@year</option>
                                                            }
                                                        }
                                                    }
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="form-group col-md-8">
                                            <label class="form-label" for="field-9" style="font-weight:bold">Jenis Transformasi</label>
                                            <label style="color:red">*</label>
                                            <div class="controls">
                                                <select id="ddlIsTransformasi" class="form-control ddlIsTransformasi" style="width:100%">
                                                    @if (Model.IsTransformasi == true)
                                                    {
                                                        <option value=1 selected="selected">Transformasi</option>
                                                        <option value=0>Non Transformasi</option>
                                                    }
                                                    else
                                                    {
                                                        <option value=1>Transformasi</option>
                                                        <option value=0 selected="selected">Non Transformasi</option>
                                                    }
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="form-group col-md-8">
                                            <label class="form-label" for="ddlSO" style="font-weight:bold">Kode SO</label>
                                            <label style="color:red">*</label>
                                            <div class="controls">
                                                <select id="ddlSO" class="form-control ddlSO" style="width:100%">
                                                    <option value="0">
                                                        Select
                                                    </option>
                                                    @foreach (var data in Model.ListStrategicObjective)
                                                    {
                                                        if (data.IsActive == true)
                                                        {
                                                            <option value="@data.IDStrategicObjective" selected="selected">@data.StrategicObjectiveCode (@data.StrategicObjectiveName)</option>
                                                        }
                                                        else
                                                        {
                                                            <option value="@data.IDStrategicObjective">@data.StrategicObjectiveCode (@data.StrategicObjectiveName)</option>
                                                        }
                                                    }
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row" hidden="hidden">
                                        <div class="form-group col-md-8">
                                            <label class="form-label" for="ddlPP" style="font-weight:bold">Prioritas Project</label>
                                            <label style="color:red">*</label>
                                            <div class="controls">
                                                <select id="ddlPP" class="form-control ddlPP" style="width:100%">
                                                    @foreach (var data in Model.ListProjectPriority)
                                                    {
                                                        if (data.IsActive == true)
                                                        {
                                                            <option value="@data.IDProjectPriority" selected="selected">@data.Name</option>
                                                        }
                                                        else
                                                        {
                                                            <option value="@data.IDProjectPriority">@data.Name</option>
                                                        }
                                                    }
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="form-group col-md-8">
                                            <label class="form-label" for="ddlKategori" style="font-weight:bold">Kategori Project</label>
                                            <label style="color:red">*</label>
                                            <div class="controls">
                                                <select id="ddlKategori" class="form-control ddlKategori" style="width:100%">
                                                    <option value="0">
                                                        Select
                                                    </option>
                                                    @foreach (var data in Model.ListProjectKategori)
                                                    {
                                                        if (data.IsActive == true)
                                                        {
                                                            <option value="@data.IDKategoriProject" selected="selected">@data.KategoriName</option>
                                                        }
                                                        else
                                                        {
                                                            <option value="@data.IDKategoriProject">@data.KategoriName</option>
                                                        }
                                                    }
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="form-group col-md-8">
                                            <label class="form-label" for="ddlDepartment" style="font-weight:bold">Unit Kerja</label>
                                            <label style="color:red">*</label>
                                            <div class="controls">
                                                <select id="ddlDepartment" class="form-control ddlDepartment" style="width:100%">
                                                    <option value="0">
                                                        Select
                                                    </option>
                                                    @foreach (var data in Model.ListDepartment)
                                                    {
                                                        if (data.IsActive == true)
                                                        {
                                                            <option value="@data.IDDepartment" selected="selected">@data.DepartmentName</option>
                                                        }
                                                        else
                                                        {
                                                            <option value="@data.IDDepartment">@data.DepartmentName</option>
                                                        }
                                                    }
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="form-group col-md-12">
                                            <label class="form-label" for="tblMKU" style="font-weight:bold">Unit Kerja (MKU)</label>
                                            <div><br /></div>
                                            <a href="#openModalMKU" class="buttonu"><i class="fa fa-search"></i>&nbsp; Tambah MKU</a>
                                            <div><br /></div>
                                            <div class="controls">
                                                <table id="tblMKU" class="display" style="width:100%">
                                                    <thead>
                                                        <tr>
                                                            <th style="display:none">ID MKU</th>
                                                            <th>Kode Unit Kerja</th>
                                                            <th>Nama Unit Kerja</th>
                                                            <th>Action</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody id="bodyTableMKU">
                                                        @foreach (var data in Model.ListMKU)
                                                        {
                                                            <tr class="ng-scope">
                                                                <td style="display:none">@data.IdDepartment</td>
                                                                <td>@data.DepartmentCode</td>
                                                                <td>@data.DepartmentName</td>
                                                                <td>
                                                                    <a onclick="DeleteListTableMKU(this)" class="btn btn-danger tooltipcustom margin-top-5 margin-bottom-5">
                                                                        <i class="fa fa-trash"></i>
                                                                        <span class="tooltiptext"> Hapus</span>
                                                                    </a>
                                                                </td>
                                                            </tr>
                                                        }
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row padding-top-0">
                                        <div class="form-group col-md-12">
                                            <label class="form-label" for="tblRKAT" style="font-weight:bold">Kegiatan (RKAT)</label>
                                            <label style="color:red">*</label>
                                            <div><br /></div>
                                            <a href="#openModalRKAT" class="buttonu"><i class="fa fa-search"></i>&nbsp; Tambah RKAT</a>
                                            <div><br /></div>
                                            <div class="controls">
                                                <table id="tblRKAT" class="display" style="width:100%">
                                                    <thead>
                                                        <tr>
                                                            <th style="display:none">ID SAP RKAT</th>
                                                            <th>Kode Kegiatan</th>
                                                            <th>Nama Kegiatan</th>
                                                            <th>Anggaran</th>
                                                            <th>Action</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody id="bodyTableRKAT">
                                                        @foreach (var data in Model.ListRKAT)
                                                        {
                                                            <tr class="ng-scope">
                                                                <td style="display:none">@data.IDSAPRKAT</td>
                                                                <td>@data.IDSAP</td>
                                                                <td>@data.DESCRIPTION</td>
                                                                <td>@data.Value</td>
                                                                <td>
                                                                    <a onclick="DeleteListTableRKAT(this)" class="btn btn-danger tooltipcustom margin-top-5 margin-bottom-5">
                                                                        <i class="fa fa-trash"></i>
                                                                        <span class="tooltiptext"> Hapus</span>
                                                                    </a>
                                                                </td>
                                                            </tr>
                                                        }
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row padding-top-0">
                                        <div class="form-group col-md-12">
                                            <label class="form-label" for="tblKPI" style="font-weight:bold">KPI</label>
                                            <label style="color:red">*</label>
                                            <div><br /></div>
                                            <a href="#openModalKPI" class="buttonu"><i class="fa fa-search"></i>&nbsp; Tambah KPI</a>
                                            <div><br /></div>
                                            <div class="controls">
                                                <table id="tblKPI" class="display" style="width:100%">
                                                    <thead>
                                                        <tr>
                                                            <th style="display:none">ID KPI</th>
                                                            <th>Kode KPI</th>
                                                            <th>Nama KPI</th>
                                                            <th>Tahun</th>
                                                            <th>Action</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody id="bodyTableKPI">
                                                        @foreach (var data in Model.ListKPIOrganization)
                                                        {
                                                            <tr class="ng-scope">
                                                                <td style="display:none">@data.IDKPIOrganization</td>
                                                                <td>@data.KPICode</td>
                                                                <td>@data.KPIName</td>
                                                                <td>@data.Year</td>
                                                                <td>
                                                                    <a onclick="DeleteListTableKPI(this)" class="btn btn-danger tooltipcustom margin-top-5 margin-bottom-5">
                                                                        <i class="fa fa-trash"></i>
                                                                        <span class="tooltiptext"> Hapus</span>
                                                                    </a>
                                                                </td>
                                                            </tr>
                                                        }
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>

                                </section>

                            </div>

                        </div>
                    </form>
                </div>
            </div>
        </div>

        <div class="row padding-top-20">
            @if (RoleAplikasi.Any(obj => obj.Role == "CREATE.MASTER.PROJECT"))
            {
                if (Model.IDProject == 0)
                {
                    <button class="btn btn-success" onclick="InsertMasterProject()"> Tambah Proyek</button>
                }
                else
                {
                    <button class="btn btn-success" onclick="UpdateMasterProject(@Model.IDProject)"> Update Proyek</button>
                    <button type="button" class="btn btn-accent btn-icon" onclick="CopyProjectHeader(0, @Model.IDProject)">
                        <i class="fa fa-copy"></i> &nbsp; <span>Copy</span>
                    </button>
                }
            }
            <button class="btn btn-default" onclick="location.href='@Url.Action("MasterProyek","Master")';"> Back To List</button>
        </div>
    </div>
</section>

<div id="openmodalu" class="modalu">
    <div class="content-modalu" style="height:auto">
        <h1>Tambah User</h1>
        <div class="form-group col-md-6">
            <label class="form-label" for="field-1" style="font-weight : bold;">Nama User</label>
            <div class="controls">
                <input type="text" placeholder="Ketik disini" class="form-control ng-pristine ng-untouched ng-invalid" name="txtFullName" id="txtFullName" required="">
            </div>
        </div>
        <table id="tblListUserModal" class="display" style="width:100%">
            <thead>
                <tr>
                    <th style="width: 40%">Nama User</th>
                    <th style="width: 40%">Posisi</th>
                    <th style="width: 20%">Aksi</th>
                </tr>
            </thead>
            <tbody id="ListUserBody"></tbody>
        </table>

        <a href="#close" title="Close" class="close" id="btnClose">CLOSE</a>
    </div>
</div>

<div id="openModalRKAT" class="modalu">
    <div class="content-modalu content-body" style="height:auto">
        <h1>Tambah Kegiatan</h1>
        <div class="form-group col-md-6">
            <label class="form-label" for="field-1" style="font-weight : bold;">Search</label>
            <div class="controls">
                <input type="text" placeholder="Description" class="form-control ng-pristine ng-untouched ng-invalid" name="txtCostCTR" id="txtCostCTR" required="">
            </div>
        </div>
        <div class="form-group col-md-12">
            <table id="tblListRKAT" class="display" style="width:100%">
                <thead>
                    <tr>
                        <th style="width:10%">Kode Kegiatan</th>
                        <th>Nama Kegiatan</th>
                        <th>Value</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody id="ListRKAT"></tbody>
            </table>
        </div>
        <a href="#close" title="Close" class="close" id="btnCloseRKATModal">CLOSE</a>
    </div>
</div>

<div id="openModalMKU" class="modalu">
    <div class="content-modalu content-body" style="height:auto">
        <h1>Tambah MKU</h1>
        <div class="form-group col-md-6">
            <label class="form-label" for="field-1" style="font-weight : bold;">Search</label>
            <div class="controls">
                <input type="text" placeholder="Description" class="form-control ng-pristine ng-untouched ng-invalid" name="txtMku" id="txtMku" required="">
            </div>
        </div>
        <div class="form-group col-md-12">
            <table id="tblListMKU" class="display" style="width:100%">
                <thead>
                    <tr>
                        <th style="width:20%">Kode Unit Kerja</th>
                        <th>Nama Unit Kerja</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody id="ListMKU"></tbody>
            </table>
        </div>
        <a href="#close" title="Close" class="close" id="btnCloseMKUModal">CLOSE</a>
    </div>
</div>

<div id="openModalKPI" class="modalu">
    <div class="content-modalu" style="height:auto">
        <h1>Tambah KPI</h1>
        <div class="form-group col-md-6">
            <label class="form-label" for="field-1" style="font-weight : bold;">Search</label>
            <div class="controls">
                <input type="text" placeholder="KPI Name" class="form-control ng-pristine ng-untouched ng-invalid" name="txtNameKPI" id="txtNameKPI" required="">
            </div>
        </div>
        <table id="tblListKPI" class="display" style="width:100%">
            <thead>
                <tr>
                    <th>Kode KPI</th>
                    <th>Nama KPI</th>
                    <th>Tahun</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody id="ListKPI"></tbody>
        </table>

        <a href="#close" title="Close" class="close" id="btnCloseKPIModal">CLOSE</a>
    </div>
</div>

<script src="~/Scripts/Views/Master/DetailProyek.js?newversion"></script>
<script>

    @*var objModel = @Html.Raw(Json.Encode(Model.ListRoleGroup));
    var ListRoleGroup = objModel;*@

    var form = $('#__AjaxAntiForgeryForm');
    var token = $('input[name="__RequestVerificationToken"]', form).val();

    var GetDetailKaryawanURl = '@Url.Action("GetDetailEmployeeByPersonNumber", "ManajemenUser")';
    var urlTableSAPRkAT = '@Url.Action("TableSAPRkAT", "Master")';
    var urlTableMasterKPI = '@Url.Action("TableMasterKPI", "Master")';
    var urlGetDataEmployeeByName = '@Url.Action("GetDataEmployeeByName", "ManajemenUser")';
    var urlInsertProyek = '@Url.Action("InsertProyek", "Master")';
    var urlMasterProyek = '@Url.Action("MasterProyek", "Master")';
    var urlUpdateProyek = '@Url.Action("UpdateProyek", "Master")';
    var urlInsertProjectInitiation = '@Url.Action("InsertProjectInitiation", "Proyek")';
    var urlTableMasterDepartment = '@Url.Action("TableMasterUnitKerja", "Master")';

    $(document).ready(function () {

        $('#tblListKPI').DataTable({
            "bLengthChange": false,
            searching: false,
            info: false
        });

        $('#tblListMKU').DataTable({
            "bLengthChange": false,
            searching: false,
            info: false
        });

        $('#tblListRKAT').DataTable({
            "bLengthChange": false,
            searching: false,
            info: false
        });

        $('#tblListUserModal').DataTable({
            "bLengthChange": false,
            searching: false,
            info: false
        });

        $('#tblListUser').DataTable({
            "bLengthChange": false,
            searching: false,
            info: false
        });

        $('#tblKPI').DataTable({
            "bLengthChange": false,
            searching: false,
            info: false,
            "scrollX": true
        });

        $('#tblRKAT').DataTable({
            "bLengthChange": false,
            searching: false,
            info: false,
            "scrollX": true
        });

        $('#tblMKU').DataTable({
            "bLengthChange": false,
            searching: false,
            info: false,
            "scrollX": true
        });

        $('.ddlprogram').select2({
            placeholder: 'Pilih Program',
            selectOnClose: true
        });

        $('.ddlSO').select2({
            placeholder: 'Pilih SO',
            selectOnClose: true });

        $('.ddlPP').select2({
            placeholder: 'Pilih Prioritas Proyek',
            selectOnClose: true });

        $('.ddlDepartment').select2({
            placeholder: 'Pilih Department',
            selectOnClose: true });

        $('.ddlIsTransformasi').select2({
            placeholder: 'Pilih Transformasi',
            selectOnClose: true });

        $('.ddlYear').select2({
            placeholder: 'Pilih Tahun',
            selectOnClose: true
        });

        $('.ddlKategori').select2({
            placeholder: 'Pilih Kategori',
            selectOnClose: true
        });
    });

    function CopyProjectHeader(IDProjectHeader, IDProject) {

        var r = confirm("Project ini akan di copy ?");

        if (r == true) {
            var ProjectDetail = {
                Background: '',
                Objective: '',
                ScopeOfWork: '',
                BudgetDescription: ''
            };

            var ProjectRisk = {
                Constraints: '',
                Assumptions: '',
                Risk: '',
                Approach: ''
            };

            var ProjectHeader = {
                IDProject: IDProject,
                Sequence: 0,
                IDProjectStatus: 1,
                CreatedBy: $('#hdf').val(),
                TypeTransaction: "Copy",
                ProjectDetail: ProjectDetail,
                ProjectRisk: ProjectRisk
            };

            $.ajax({
                type: "POST",
                url: urlInsertProjectInitiation,
                data: ProjectHeader,
                success: function (result) {
                    if (result.Result === "Success") {
                        debugger;
                        alert(result.Message);
                        //InsertMPP();
                        window.location.href = urlMasterProyek;
                    }
                    else {
                        debugger;
                        alert(result.Message);
                    }
                }
            });
        }

    }

    function ValidWeight() {
        var WeightKPI = $('#txtWeight').val();
        debugger;
        if (WeightKPI > 100) {
            alert("Bobot maksimal 100");
            $('#txtWeight').val(100);
        }
        if (WeightKPI < 0) {
            alert("Bobot minimal 1");
            $('#txtWeight').val(1);
        }
    }

</script>
