@model LPS_ProjectManagement.Models.MasterDataModels.ProgramModel
@using LPS_ProjectManagement.Models

@{
    ViewBag.Title = "Detail Master Data Program";
    Layout = "~/Views/Shared/_Layout.cshtml";
    RoleProject[] RoleAplikasi = (RoleProject[])Session["Roles"];
}

<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <input id="hdf" type="hidden" value="@Session["PersonalNumber"].ToString()" />
    <section class="box">
        <header class="panel_header">
            <h2 class="title pull-left">Master Data Program</h2>
        </header>
        <div class="content-body padding-top-45">
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12 padding-left-0 padding-right-0">
                    <div class="row">
                        <div class="form-group col-md-6">
                            <label class="form-label" style="font-weight : bold;">Kode Program</label>
                            <label style="color:red">*</label>
                            <div class="controls">
                                <div class="col-md-8 padding-left-0">
                                    @if (Model.ProgramNo == null)
                                    {
                                        <input id="txtNoProg" type="text" class="form-control" placeholder="Program Code" value="" />
                                    }
                                    else
                                    {
                                        <input disabled="disabled" id="txtNoProg" type="text" class="form-control" placeholder="Program Code" value="@Model.ProgramNo" />
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12 padding-left-0 padding-right-0">
                    <div class="row">
                        <div class="form-group col-md-6">
                            <label class="form-label" style="font-weight : bold;">Nama Program</label>
                            <label style="color:red">*</label>
                            <div class="controls">
                                <div class="col-md-8 padding-left-0">
                                    <input id="txtProgName" type="text" class="form-control" placeholder="Program Name" value="@Model.ProgramName" />
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <div class="row">
                <label class="form-label" style="font-weight : bold;">Deskripsi</label>
                <br />
                <div class="col-md-7 padding-left-0">
                    <div id="txtDescriptionProgram"></div>
                </div>
            </div>
            <br />
            <div class="row">
                @if (RoleAplikasi.Any(x => x.Role == "EDIT.LIST.MASTER.PROGRAM"))
                {
                if (Model.IDProgram == 0)
                {
                <button class="btn btn-success" onclick="insert()"> Tambah Program</button>
                }
                else
                {
                <button class="btn btn-success" onclick="update(@Model.IDProgram)"> Update Program</button>
                }
                }
                <button class="btn btn-default" onclick="location.href='@Url.Action("MasterProgram","Master")';"> Back To List</button>
            </div>
        </div>
    </section>
</div>

<script>

    var obj = @Html.Raw(Json.Encode(Model));
    var Description = obj.Description;

    $('#txtDescriptionProgram').summernote({
        tabsize: 2,
        height: 300,
        toolbar: [
            ['style', ['style']],
            ['font', ['bold', 'italic', 'underline', 'strikethrough', 'superscript', 'subscript', 'clear']],
            ['fontname', ['fontname']],
            ['fontsize', ['fontsize']],
            ['color', ['color']],
            ['para', ['ol', 'ul', 'paragraph', 'height']],
            ['view', ['undo', 'redo']]
        ]
    });

    $('#txtDescriptionProgram').summernote(
        'code',
        Description
    );

    function insert() {
        debugger;
        var Program = {
            ProgramNo: $('#txtNoProg').val(),
            ProgramName: $('#txtProgName').val(),
            Description: $('#txtDescriptionProgram').summernote('code').replace(/</g, "{").replace(/>/g, "}"),
            CreatedBy: $('#hdf').val()
        };

        $.ajax({
            type: "POST",
            url: '@Url.Action("InsertProgram", "Master")',
            data: Program,
            success: function (result) {
                debugger;
                if (result.Result === "Success") {
                    alert(result.Message);
                    window.location.href = '@Url.Action("MasterProgram", "Master")';
                } else {
                    alert(result.Message);
                }
            },
            error: function (xhr, ajaxOptions, thrownError) {
                alert(xhr.status);
                alert(thrownError);
            }
        });
    }

    function update(id) {
        debugger;
        var HTML = $('#txtDescriptionProgram').summernote('code').replace(/</g, "{").replace(/>/g, "}");
        var Program = {
            IDProgram: id,
            ProgramNo: $('#txtNoProg').val(),
            ProgramName: $('#txtProgName').val(),
            Description: String(HTML),
            CreatedBy: $('#hdf').val()
        };

        $.ajax({
            type: "POST",
            url: '@Url.Action("UpdateProgram", "Master")',
            data: Program,
            success: function (result) {
                if (result.Result === "Success") {
                    alert(result.Message);
                    window.location.href = '@Url.Action("MasterProgram", "Master")';
                } else {
                    alert(result.Message);
                }
            },
            error: function (xhr, ajaxOptions, thrownError) {
                alert(xhr.status);
                alert(thrownError);
            }
        });
    }

</script>
