@model LPS_ProjectManagement.Models.MasterDataModels.KPIOrganizationModel

@{
    ViewBag.Title = "Detil KPI";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<input id="hdf" type="hidden" value="@Session["Nama"].ToString()" />

<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <section class="box">
        <header class="panel_header">
            <h2 class="title pull-left">Detil KPI</h2>
        </header>
        <div class="content-body padding-top-45">

            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                    <div class="form-group">
                        <label class="form-label" for="txtKPIName" style="font-weight:bold">Nama KPI</label>
                        <span class="desc"></span>
                        <input disabled="disabled" type="text" class="form-control" id="txtKPIName" placeholder="KPI Name" value="@Model.KPIName">
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                    <div class="form-group">
                        <label class="form-label" for="txtKPICode" style="font-weight:bold">Kode KPI</label>
                        <span class="desc"></span>
                        <input disabled="disabled" type="text" class="form-control" id="txtKPICode" placeholder="KPI Code" value="@Model.KPICode">
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                    <div class="form-group">
                        <label class="form-label" for="txtKPIYear" style="font-weight:bold">Tahun KPI</label>
                        <span class="desc"></span>
                        <input disabled="disabled" type="text" class="form-control" id="txtKPIYear" placeholder="KPI Code" value="@Model.Year">
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                    <div class="form-group">
                        <label class="form-label" for="txtDescKPI" style="font-weight:bold">Deskripsi</label>
                        <span class="desc"></span>
                        <textarea id="txtAreaDescription" disabled="disabled" class="form-control" style="height:200px; border:solid" placeholder="Description">@Model.Description</textarea>
                    </div>
    @*<div id="txtDescKPI"></div>*@
                </div>
            </div>

            <br />
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
    @*@if (Model.IDKPIOrganization == 0)
        {
        <button class="btn btn-success" onclick="insert()"> Tambah KPI</button>
        }
        else
        {
        <button class="btn btn-success" onclick="update(@Model.IDKPIOrganization)"> Update KPI</button>
        }*@
                    <button class="btn btn-default" onclick="location.href='@Url.Action("MasterKPI","Master")';">Kembali ke daftar</button>
                </div>
            </div>
        </div>
    </section>
</div>

<script>

    var obj = @Html.Raw(Json.Encode(Model));
    var Description = obj.Description;

    //$('#txtDescKPI').summernote({
    //    tabsize: 2,
    //    height: 300,
    //    toolbar: [
    //        ['style', ['style']],
    //        ['font', ['bold', 'italic', 'underline', 'strikethrough', 'superscript', 'subscript', 'clear']],
    //        ['fontname', ['fontname']],
    //        ['fontsize', ['fontsize']],
    //        ['color', ['color']],
    //        ['para', ['ol', 'ul', 'paragraph', 'height']],
    //        ['view', ['undo', 'redo']]
    //    ]
    //});

    //$('#txtDescKPI').summernote(
    //    'code',
    //    Description
    //);

    function insert() {
        var KPIOrganization = {
            KPICode: $('#txtKPICode').val(),
            KPIName: $('#txtKPIName').val(),
            Description: $('#txtDescKPI').summernote('code'),
            CreatedBy: $('#hdf').val()
        };

        $.ajax({
            type: "POST",
            url: '@Url.Action("InsertKPI", "Master")',
            data: KPIOrganization,
            success: function (result) {
                alert(result.Message);
                window.location.href = '@Url.Action("MasterKPI", "Master")';
            },
            error: function (xhr, ajaxOptions, thrownError) {
                alert(xhr.status);
                alert(thrownError);
            }
        });
    }

    function update(id) {
        var KPIOrganization = {
            IDKPIOrganization: id,
            KPICode: $('#txtKPICode').val(),
            KPIName: $('#txtKPIName').val(),
            Year: $('#txtKPIYear').val(),
            Description: $('#txtDescKPI').summernote('code'),
            CreatedBy: $('#hdf').val()
        };

        $.ajax({
            type: "POST",
            url: '@Url.Action("UpdateKPI", "Master")',
            data: KPIOrganization,
            success: function (result) {
                alert(result.Message);
                window.location.href = '@Url.Action("MasterKPI", "Master")';
            },
            error: function (xhr, ajaxOptions, thrownError) {
                alert(xhr.status);
                alert(thrownError);
            }
        });
    }

</script>
