@model List<LPS_ProjectManagement.Models.MasterDataModels.ProjectModel>
@using LPS_ProjectManagement.Models

@{
    ViewBag.Title = "Master Data Project";
    Layout = "~/Views/Shared/_Layout.cshtml";
    RoleProject[] RoleAplikasi = (RoleProject[])Session["Roles"];
}

<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <section class="box">
        <header class="panel_header">
            <h2 class="title pull-left">Daftar Project</h2>
        </header>
        <div class="content-body padding-top-45">
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12 padding-left-0 padding-right-0">
                    <div class="row">
                        @if (RoleAplikasi.Any(x => x.Role == "CREATE.MASTER.PROJECT"))
                        {
                        <div class="col-md-4">
                            <button type="button" class="btn btn-info btn-corner" id="btnTambah" onclick="location.href='@Url.Action("DetailProyek","Master", new {IDProject= 0})';"> <i class="fa fa-plus"></i>&nbsp;&nbsp; Tambah Project</button>
                        </div>
                        }
                    </div>

                    <table id="tblListUser" class="display" style="width:100%">
                        <thead>
                            <tr>
                                <th style="text-align:center" width="3%">No.</th>
                                <th style="text-align:left" width="12%">Kode Project</th>
                                <th style="text-align:left">Nama Project</th>
                                <th style="text-align:left">Tahun</th>
                                <th style="text-align:left" width="12%">Jenis Project</th>
                                <th style="text-align:center" width="12%">Updated By</th>
                                <th style="text-align:center" width="12%">Updated Date</th>
                                <th style="text-align:center" width="20%">Aksi</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var data in Model)
                            {
                                if (data.IsActive == true)
                                {
                                    <tr>
                                        <td style="text-align:center">@data.NoUrut</td>
                                        <td style="text-align:left">@data.ProjectNo</td>
                                        <td style="text-align:left">@data.ProjectName</td>
                                        <td style="text-align:left">@data.Year</td>
                                        <td style="text-align:left">
                                            @if (data.IsTransformasi == true)
                                            {
                                                <label>Transformasi</label>
                                            }
                                            else
                                            {
                                                <label>Non Transformasi</label>
                                            }
                                        </td>
                                        <td style="text-align:center">@data.UpdatedBy</td>
                                        <td style="text-align:center">@data.UpdatedDateString</td>
                                        <td style="text-align:left">
                                            <a href='@Url.Action("DetailProyek","Master", new {IDProject= data.IDProject})' class="btn btn-warning tooltipcustom margin-top-5 margin-bottom-5">
                                                <i class="fa fa-edit"></i>
                                                <span class="tooltiptext">Detil</span>
                                            </a>
                                            @if (RoleAplikasi.Any(x => x.Role == "DELETE.MASTER.PROJECT"))
                                            {
                                                <a onclick="deleteData(@data.IDProject)" class="btn btn-danger tooltipcustom margin-top-5 margin-bottom-5">
                                                    <i class="fa fa-trash"></i>
                                                    <span class="tooltiptext">Hapus</span>
                                                </a>
                                                @*<a onclick="canceledData(@data.IDProject)" class="btn btn-default tooltipcustom margin-top-5 margin-bottom-5">
                                                    <i class="fa fa-archive"></i>
                                                    <span class="tooltiptext">Batal</span>
                                                </a>*@
                                            }
                                        </td>
                                    </tr>
                                }
                                else
                                {
                                    <tr style="background-color: red">
                                        <td style="text-align:center">@data.NoUrut</td>
                                        <td style="text-align:left">@data.ProjectNo</td>
                                        <td style="text-align:left">@data.ProjectName</td>
                                        <td style="text-align:left">@data.Year</td>
                                        <td style="text-align:left">
                                            @if (data.IsTransformasi == true)
                                            {
                                                <label>Transformasi</label>
                                            }
                                            else
                                            {
                                                <label>Non Transformasi</label>
                                            }
                                        </td>
                                        <td style="text-align:center">@data.UpdatedBy</td>
                                        <td style="text-align:center">@data.UpdatedDateString</td>
                                        <td style="text-align:left">
                                            <a href='@Url.Action("DetailProyek","Master", new {IDProject= data.IDProject})' class="btn btn-warning tooltipcustom margin-top-5 margin-bottom-5">
                                                <i class="fa fa-edit"></i>
                                                <span class="tooltiptext">Detil</span>
                                            </a>
                                            @if (RoleAplikasi.Any(x => x.Role == "DELETE.MASTER.PROJECT"))
                                            {
                                                <a onclick="deleteData(@data.IDProject)" class="btn btn-danger tooltipcustom margin-top-5 margin-bottom-5">
                                                    <i class="fa fa-trash"></i>
                                                    <span class="tooltiptext">Hapus</span>
                                                </a>
                                                @*<a onclick="activeData(@data.IDProject)" class="btn btn-default tooltipcustom margin-top-5 margin-bottom-5">
                                                    <i class="fa fa-archive"></i>
                                                    <span class="tooltiptext">Aktifkan</span>
                                                </a>*@
                                            }
                                        </td>
                                    </tr>
                                }
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </section>
</div>


<script>

    $('#btnTambah').mdl({
        type: 'modal',
        fullscreen: false,
        overlayClick: true
    });

    $(document).ready(function () {
        $('#tblListUser').DataTable({
            "bLengthChange": false,
            searching: true,
            info: false,
            "scrollX": true
        });
    });

    function deleteData(id) {
        var Project = {
            IDProject: id,
            Description: 'Delete'
        };

        var r = confirm("Anda yakin ingin menghapus Project ini ?");
        if (r == true) {
            $.ajax({
                type: "POST",
                url: '@Url.Action("DeleteProyek", "Master")',
                data: Project,
                success: function (result) {
                    if (result.Result === "Success") {
                        alert(result.Message);
                        window.location.href = '@Url.Action("MasterProyek", "Master")';
                    } else {
                        alert(result.Message);
                    }
                },
                error: function (xhr, ajaxOptions, thrownError) {
                    alert(xhr.status);
                    alert(thrownError);
                }
            });
        }
    }
    
    function canceledData(id) {
        var Project = {
            IDProject: id,
            Description: 'Canceled'
        };

        var r = confirm("Anda yakin ingin membatalkan Project ini ?");
        if (r == true) {
            $.ajax({
                type: "POST",
                url: '@Url.Action("DeleteProyek", "Master")',
                data: Project,
                success: function (result) {
                    if (result.Result === "Success") {
                        alert(result.Message);
                        window.location.href = '@Url.Action("MasterProyek", "Master")';
                    } else {
                        alert(result.Message);
                    }
                },
                error: function (xhr, ajaxOptions, thrownError) {
                    alert(xhr.status);
                    alert(thrownError);
                }
            });
        }
    }
    
    function activeData(id) {
        var Project = {
            IDProject: id,
            Description: 'Activated'
        };

        var r = confirm("Project ini akan di aktifkan kembali ?");
        if (r == true) {
            $.ajax({
                type: "POST",
                url: '@Url.Action("DeleteProyek", "Master")',
                data: Project,
                success: function (result) {
                    if (result.Result === "Success") {
                        alert(result.Message);
                        window.location.href = '@Url.Action("MasterProyek", "Master")';
                    } else {
                        alert(result.Message);
                    }
                },
                error: function (xhr, ajaxOptions, thrownError) {
                    alert(xhr.status);
                    alert(thrownError);
                }
            });
        }
    }

</script>



