@model LPS_ProjectManagement.Models.EksekusiModels.ExecutionReport2ModelList

@{
    Layout = null;
}

<table id="tableData">
    <tr>
        <td></td>
        <td colspan="6"></td>
    </tr>
    <tr>
        <td></td>
        <td colspan="6" style="font-family:'Book Antiqua'; font-size:19px; text-align:center;"><b>Tren Realisasi</b></td>
    </tr>

    <tr>
        <td rowspan="1" style="background-color:darkgray; font-family:'Book Antiqua'; font-size:14px; text-align:center; vertical-align:central;"><b>No.</b></td>
        <td rowspan="1" style="background-color:darkgray; font-family:'Book Antiqua'; font-size:14px; text-align:center; vertical-align:central;"><b>Periode</b></td>
        <td rowspan="1" style="background-color:darkgray; font-family:'Book Antiqua'; font-size:14px; text-align:center; vertical-align:central;"><b>Plan</b></td>
        <td rowspan="1" style="background-color:darkgray; font-family:'Book Antiqua'; font-size:14px; text-align:center; vertical-align:central;"><b>Real</b></td>
        <td rowspan="1" style="background-color:darkgray; font-family:'Book Antiqua'; font-size:14px; text-align:center; vertical-align:central;"><b>Status</b></td>
        <td rowspan="1" style="background-color:darkgray; font-family:'Book Antiqua'; font-size:14px; text-align:center; vertical-align:central;"><b>Keterangan</b></td>
    </tr>

    @if (Model.AllDesc.Count > 0)
    {
        /**/
        var no = 0;
        foreach (var item in Model.AllDesc)
        {
            no++;
            <tr>
                <td style="font-family:'Book Antiqua'; font-size:14px; text-align:right;">@no</td>
                <td class="text-wrap width-200" style="font-family:'Book Antiqua'; font-size:14px; text-align:left;">
                    @Html.DisplayFor(modelItem => item.Tanggal)
                </td>
                <td style="font-family: 'Book Antiqua'; font-size: 14px; text-align: right;">
                    @Html.DisplayFor(modelItem => item.Plan) %
                </td>
                <td style="font-family:'Book Antiqua'; font-size:14px; text-align:right;">
                    @Html.DisplayFor(modelItem => item.Real) %
                </td>

                <td style="font-family:'Book Antiqua'; font-size:14px; text-align:left;">
                    @Html.DisplayFor(modelItem => item.Status)
                </td>
                <td class="text-wrap width-500" style="font-family:'Book Antiqua'; font-size:14px; text-align:left;">
                    @Html.Raw(item.Keterangan)
                </td>

            </tr>
        }
    }


</table>


<script src="~/Scripts/jquery-3.3.1.min.js"></script>

<script type="text/javascript">

    jQuery(document).ready(function ($) {

        tableToExcel('tableData', 'Sheet 1');
        setTimeout(function () {
            self.close();
        }, 500);
    });

    var tableToExcel = (function () {
        var uri = 'data:application/vnd.ms-excel;base64,'
            , template = '<html xmlns:o="urn:schemas-microsoft-com:office:office" xmlns:x="urn:schemas-microsoft-com:office:excel" xmlns="http://www.w3.org/TR/REC-html40"><head><!--[if gte mso 9]><xml><x:ExcelWorkbook><x:ExcelWorksheets><x:ExcelWorksheet><x:Name>{worksheet}</x:Name><x:WorksheetOptions><x:DisplayGridlines/></x:WorksheetOptions></x:ExcelWorksheet></x:ExcelWorksheets></x:ExcelWorkbook></xml><![endif]--><meta http-equiv="content-type" content="text/plain; charset=UTF-8"/></head><body><table>{table}</table></body></html>'
            , base64 = function (s) { return window.btoa(unescape(encodeURIComponent(s))) }
            , format = function (s, c) { return s.replace(/{(\w+)}/g, function (m, p) { return c[p]; }) }
        return function (table, name) {
            if (!table.nodeType) table = document.getElementById(table)
            var ctx = { worksheet: name || 'Worksheet', table: table.innerHTML }
            //window.location.href = uri + base64(format(template, ctx))

            var link = document.createElement("a");
            link.download = "Report-Trend-Realisasi.xls";
            link.href = uri + base64(format(template, ctx));
            link.click();

        }
    })();

</script>
