@model LPS_ProjectManagement.Models.ReportModels.LaporanPerMingguGptfModel

@using System.Data;
@using System.Configuration;
@{
    Layout = null;
    int pointProgram = 0;
    string Program = "";
    int pointProject = 0;
    string Project = "";
    string monthName = new DateTime(int.Parse(Model.HeaderReport.Year), Model.HeaderReport.Month,1).ToString("MMMM", new System.Globalization.CultureInfo("Id"));
    int no = 1;
}

<link href="~/Content/bootstrapmp.min.css" rel="stylesheet" />
<link href="~/Content/font-awesome.min.css" rel="stylesheet" />

<table style="width:100%;" id="tableData">

    <tr>
        <td colspan="13"></td>
    </tr>

    <tr>
        <td colspan="13"></td>
    </tr>

    <tr>
        <td colspan="13" style="text-align:center; font-size:14px;">
            <b>
                Status Progress Proyek Transformasi @Model.HeaderReport.Year <br />
                Bulan @monthName Minggu @Model.HeaderReport.Week
            </b>
        </td>
    </tr>

    <tr>
        <td colspan="13"></td>
    </tr>

    <tr>
        <th rowspan="2" style="background-color:#cccccc;border:1px solid;">
            No
        </th>
        <th rowspan="2" style="background-color:#cccccc;border:1px solid;">
            Nama Program
        </th>
        <th rowspan="2" style="background-color:#cccccc;border:1px solid;">
            PIC
        </th>
        <th rowspan="2" style="background-color:#cccccc;border:1px solid;">
            Nomor Proyek
        </th>
        <th rowspan="2" style="background-color:#cccccc;border:1px solid;">
            Nama Proyek
        </th>
        <th colspan="3" style="background-color:#cccccc;border:1px solid;">
            Proyek
        </th>
        <th rowspan="2" style="background-color:#cccccc;border:1px solid;">
            Kendala Internal/Eksternal
        </th>
        <th rowspan="2" style="background-color:#cccccc;border:1px solid;">
            Rencana Aksi
        </th>
        <th colspan="3" style="background-color:#cccccc;border:1px solid;">
            Minggu Lalu
        </th>
    </tr>
    <tr>
        <th style="background-color:#cccccc;border:1px solid;">
            Target
        </th>
        <th style="background-color:#cccccc;border:1px solid;">
            Realisasi
        </th>
        <th style="background-color:#cccccc;border:1px solid;">
            Pencapaian
        </th>
        <th style="background-color:#cccccc;border:1px solid;">
            Target
        </th>
        <th style="background-color:#cccccc;border:1px solid;">
            Realisasi
        </th>
        <th style="background-color:#cccccc;border:1px solid;">
            Pencapaian
        </th>
    </tr>

    @foreach (var item in Model.HeaderDataReport)
    {
        var dataList = Model.ListDataReport.Where(x => x.IDProgram == item.IDProgram).ToList();
        var jumlah = dataList.Count;
        
        <tr>
            <td style="border:1px solid;">@no</td>
            <td rowspan=@jumlah style="border:1px solid;text-align:left">@item.ProgramName</td>
            <td style="border:1px solid;">@dataList[0].Pic</td>
            <td style="border:1px solid;">@dataList[0].ProjectNo</td>
            <td style="border:1px solid;">@dataList[0].ProjectName</td>
            <td style="border:1px solid;">@dataList[0].Target</td>
            <td style="border:1px solid;">@dataList[0].Realisasi</td>
            @if (dataList[0].Pencapaian < 85)
            {
                <td style="border:1px solid;background-color:red;color:white">@dataList[0].Pencapaian %</td>
            }
            else if (dataList[0].Pencapaian < 100)
            {
                <td style="border:1px solid;background-color:yellow;color:black">@dataList[0].Pencapaian %</td>
            }
            else if (dataList[0].Pencapaian < 110)
            {
                <td style="border:1px solid;background-color:green;color:white">@dataList[0].Pencapaian %</td>
            }
            else
            {
                <td style="border:1px solid;background-color:royalblue;color:white">@dataList[0].Pencapaian %</td>
            }

            @if (dataList[0].DateFinished.HasValue)
            {
                if (dataList[0].DateFinished < dataList[0].TargetFinished)
                {
                    <td colspan="2" style="border:1px solid;background-color:#ffb84d;color:black;text-align:center"><strong>Proyek telah selesai lebih awal pada tanggal @dataList[0].DateFinished.Value.ToString("dd MMMM yyyy", new System.Globalization.CultureInfo("Id")) ( Target @dataList[0].TargetFinished.ToString("dd MMMM yyyy", new System.Globalization.CultureInfo("Id")))</strong></td>
                }
                else if (dataList[0].DateFinished == dataList[0].TargetFinished)
                {
                    <td colspan="2" style="border:1px solid;background-color:#ffb84d;color:black;text-align:center"><strong>Proyek selesai tepat waktu pada tanggal @dataList[0].DateFinished.Value.ToString("dd MMMM yyyy", new System.Globalization.CultureInfo("Id"))</strong></td>
                }
                else
                {
                    <td colspan="2" style="border:1px solid;background-color:#ffb84d;color:black;text-align:center"><strong>Proyek selesai pada tanggal @dataList[0].DateFinished.Value.ToString("dd MMMM yyyy", new System.Globalization.CultureInfo("Id")) ( Target @dataList[0].TargetFinished.ToString("dd MMMM yyyy", new System.Globalization.CultureInfo("Id")))</strong></td>
                }
            }
            else
            {
                <td style="border:1px solid">@dataList[0].Kendala</td>
                <td style="border:1px solid">@dataList[0].Aksi</td>
            }

            <td style="border:1px solid;">@dataList[0].TargetLastWeek</td>
            <td style="border:1px solid;">@dataList[0].RealisasiLastWeek</td>
            @if (dataList[0].PencapaianLastWeek < 85)
            {
                <td style="border:1px solid;background-color:red;color:white">@dataList[0].PencapaianLastWeek %</td>
            }
            else if (dataList[0].PencapaianLastWeek < 100)
            {
                <td style="border:1px solid;background-color:yellow;color:black">@dataList[0].PencapaianLastWeek %</td>
            }
            else if (dataList[0].PencapaianLastWeek < 110)
            {
                <td style="border:1px solid;background-color:green;color:white">@dataList[0].PencapaianLastWeek %</td>
            }
            else
            {
                <td style="border:1px solid;background-color:royalblue;color:white">@dataList[0].PencapaianLastWeek %</td>
            }
        </tr>
        no++;
        for (int i = 1; i < dataList.Count; i++)
        {
            <tr>
                <td style="border:1px solid;">@no</td>
                <td style="border:1px solid;">@dataList[i].Pic</td>
                <td style="border:1px solid;">@dataList[i].ProjectNo</td>
                <td style="border:1px solid;">@dataList[i].ProjectName</td>
                <td style="border:1px solid;">@dataList[i].Target</td>
                <td style="border:1px solid;">@dataList[i].Realisasi</td>
                @if (dataList[i].Pencapaian < 85)
                {
                    <td style="border:1px solid;background-color:red;color:white">@dataList[i].Pencapaian %</td>
                }
                else if (dataList[i].Pencapaian < 100)
                {
                    <td style="border:1px solid;background-color:yellow;color:black">@dataList[i].Pencapaian %</td>
                }
                else if (dataList[i].Pencapaian < 105)
                {
                    <td style="border:1px solid;background-color:green;color:white">@dataList[i].Pencapaian %</td>
                }
                else
                {
                    <td style="border:1px solid;background-color:royalblue;color:white">@dataList[i].Pencapaian %</td>
                }

                @if (dataList[i].DateFinished.HasValue)
                {
                    if (dataList[i].DateFinished < dataList[i].TargetFinished)
                    {
                            <td colspan="2" style="border:1px solid;background-color:#ffb84d;color:black;text-align:center"><strong>Proyek telah selesai lebih awal pada tanggal @dataList[i].DateFinished.Value.ToString("dd MMMM yyyy", new System.Globalization.CultureInfo("Id")) ( Target @dataList[i].TargetFinished.ToString("dd MMMM yyyy", new System.Globalization.CultureInfo("Id")))</strong></td>
                    }
                    else if (dataList[i].DateFinished == dataList[i].TargetFinished)
                    {
                            <td colspan="2" style="border:1px solid;background-color:#ffb84d;color:black;text-align:center"><strong>Proyek selesai tepat waktu pada tanggal @dataList[i].DateFinished.Value.ToString("dd MMMM yyyy", new System.Globalization.CultureInfo("Id"))</strong></td>
                    }
                    else
                    {
                            <td colspan="2" style="border:1px solid;background-color:#ffb84d;color:black;text-align:center"><strong>Proyek selesai pada tanggal @dataList[i].DateFinished.Value.ToString("dd MMMM yyyy", new System.Globalization.CultureInfo("Id")) ( Target @dataList[i].TargetFinished.ToString("dd MMMM yyyy", new System.Globalization.CultureInfo("Id")))</strong></td>
                    }
                }
                else
                {
                        <td style="border:1px solid">@dataList[i].Kendala</td>
                        <td style="border:1px solid">@dataList[i].Aksi</td>
                }

                <td style="border:1px solid;">@dataList[i].TargetLastWeek</td>
                <td style="border:1px solid;">@dataList[i].RealisasiLastWeek</td>
                @if (dataList[i].PencapaianLastWeek < 85)
                {
                    <td style="border:1px solid;background-color:red;color:white">@dataList[i].PencapaianLastWeek %</td>
                }
                else if (dataList[i].PencapaianLastWeek < 100)
                {
                    <td style="border:1px solid;background-color:yellow;color:black">@dataList[i].PencapaianLastWeek %</td>
                }
                else if (dataList[i].PencapaianLastWeek < 105)
                {
                    <td style="border:1px solid;background-color:green;color:white">@dataList[i].PencapaianLastWeek %</td>
                }
                else
                {
                    <td style="border:1px solid;background-color:royalblue;color:white">@dataList[i].PencapaianLastWeek %</td>
                }
            </tr>
            no++;
        }
    }

</table>

<script src="~/Scripts/jquery-3.3.1.min.js"></script>

<script type="text/javascript">

    jQuery(document).ready(function ($) {

        tableToExcel('tableData', 'Sheet 1');
        setTimeout(function () {
            self.close();
        }, 500);
    });

    var tableToExcel = (function () {
        var uri = 'data:application/vnd.ms-excel;base64,'
            , template = '<html xmlns:o="urn:schemas-microsoft-com:office:office" xmlns:x="urn:schemas-microsoft-com:office:excel" xmlns="http://www.w3.org/TR/REC-html40"><head><!--[if gte mso 9]><xml><x:ExcelWorkbook><x:ExcelWorksheets><x:ExcelWorksheet><x:Name>{worksheet}</x:Name><x:WorksheetOptions><x:DisplayGridlines/></x:WorksheetOptions></x:ExcelWorksheet></x:ExcelWorksheets></x:ExcelWorkbook></xml><![endif]--><meta http-equiv="content-type" content="text/plain; charset=UTF-8"/></head><body><table>{table}</table></body></html>'
            , base64 = function (s) { return window.btoa(unescape(encodeURIComponent(s))) }
            , format = function (s, c) {
                return s.replace(/{(\w+)}/g, function (m, p) { return c[p]; })
            }
        return function (table, name) {
            if (!table.nodeType) table = document.getElementById(table)
            var ctx = {
                worksheet: name || 'Worksheet', table: table.innerHTML
            }
            //window.location.href = uri + base64(format(template, ctx))

            var link = document.createElement("a");
            link.download = "Report-GPTF-Per-Week.xls";
            link.href = uri + base64(format(template, ctx));
            link.click();

        }
    })();

</script>