
@{
    ViewBag.Title = "Laporan Sumary Pelaksanaan Proyek";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using LPS_ProjectManagement.Helper;

<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <div class="content-body">
        <div class="row padding-top-45">

            <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
                <div class="form-group has-warning">
                    <label class="form-label label-header" for="ddlYear">Tahun</label>
                    <span class="desc"></span>
                    <div class="controls">
                        <select id="ddlYear" class="form-control ddlYear" style="width:100%;" onchange="OnOnchangeDdlYear(@DateTime.Now.Year, @DateTime.Now.Month)">
                            @for (int year = Convert.ToInt32(DateTime.Now.Year.ToString()) - 10; year <= Convert.ToInt32(DateTime.Now.Year.ToString()); year++)
                            {
                                if (Convert.ToInt32(DateTime.Now.Year.ToString()) == year)
                                {
                                    <option value=@year selected="selected">@year</option>
                                }
                                else
                                {
                                    <option value=@year>@year</option>
                                }
                            }
                        </select>
                    </div>
                </div>
            </div>

            <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
                <div class="form-group has-warning">
                    <label class="form-label label-header" for="ddlMonth">Bulan</label>
                    <span class="desc"></span>
                    <div class="controls">
                        <select id="ddlMonth" class="form-control ddlMonth" style="width:100%">
                            @{ var ListMonth = GlobalHelper.ListDropDowMonth(); }

                            @for (int i = 0; i < 12; i++)
                            {
                                if (ListMonth[i].Month == DateTime.Now.Month)
                                {
                                    <option value="@ListMonth[i].Month" selected="selected">@ListMonth[i].Description</option>
                                    i = 12;
                                }
                                else
                                {
                                    <option value="@ListMonth[i].Month">@ListMonth[i].Description</option>
                                }
                            }
                        </select>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                <div class="form-group has-warning">
                    <label class="form-label label-header" for="ddlYear">&nbsp;</label>
                    <span class="desc"></span>
                    <div class="controls">
                        <button onclick="Search()" type="button" class="btn btn-info btn-corner"><i class="fa fa-search"></i>&nbsp;&nbsp; Search</button>
                        <button onclick="ExportToExcel()" type="button" class="btn btn-warning btn-corner">@*<a href="">*@<i class="fa fa-print"></i>&nbsp;&nbsp; Export To Excel@*</a>*@</button>
                    </div>
                </div>
            </div>

        </div>

        <div hidden="hidden">

            <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
                <div class="form-group has-warning">
                    <label class="form-label label-header" for="ddlMonthHide">Bulan</label>
                    <span class="desc"></span>
                    <div class="controls">
                        <select id="ddlMonthHide" class="form-control ddlMonthHide" style="width:100%">
                            @foreach (var data in GlobalHelper.ListDropDowMonth())
                            {
                                if (data.Month == DateTime.Now.Month)
                                {
                                    <option value="@data.Month" selected="selected">@data.Description</option>
                                }
                                else
                                {
                                    <option value="@data.Month">@data.Description</option>
                                }
                            }
                        </select>
                    </div>
                </div>
            </div>

            <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
                <div class="form-group has-warning">
                    <label class="form-label label-header" for="ddlYearHide">Tahun</label>
                    <span class="desc"></span>
                    <div class="controls">
                        <select id="ddlYearHide" class="form-control ddlYearHide" style="width:100%;">
                            @for (int year = Convert.ToInt32(DateTime.Now.Year.ToString()) - 20; year <= Convert.ToInt32(DateTime.Now.Year.ToString()) + 20; year++)
                            {
                                if (Convert.ToInt32(DateTime.Now.Year.ToString()) == year)
                                {
                                    <option value=@year selected="selected">@year</option>
                                }
                                else
                                {
                                    <option value=@year>@year</option>
                                }
                            }
                        </select>
                    </div>
                </div>
            </div>

        </div>

        <div class="row padding-top-45">

            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <table id="tblReportSummary" class="table table-bordered" style="width:100%">
                    <thead>
                        <tr>
                            <th style="white-space:nowrap; color:black; background-color:#da8824;" rowspan="2">
                                Strategic Objective
                            </th>
                            <th style="white-space:nowrap; text-align:center; background-color:#da8824; color:black;" colspan="6">
                                Proyek Transformasi
                            </th>
                            <th style="white-space:nowrap; text-align:center; background-color:#da8824; color:black;" colspan="6">
                                Proyek Nontransformasi
                            </th>
                            <th style="white-space:nowrap; background-color:#da8824; color:black" rowspan="2">
                                Total
                            </th>
                        </tr>
                        <tr>
                            <th style="white-space:nowrap; background-color:cornflowerblue; color:black">
                                Diatas Target
                            </th>
                            <th style="white-space:nowrap; background-color:forestgreen; color:black">
                                Sesuai Target
                            </th>
                            <th style="white-space:nowrap; background-color:yellow; color:black">
                                Dibawah Target
                            </th>
                            <th style="white-space:nowrap; background-color:red; color:black">
                                Jauh Dibawah
                            </th>
                            <th style="white-space:nowrap; background-color:gray; color:black">
                                Belum Mulai
                            </th>
                            <th style="white-space:nowrap; background-color:black; color:white">
                                Selesai
                            </th>

                            <th style="white-space:nowrap; background-color:cornflowerblue; color:black">
                                Diatas Target
                            </th>
                            <th style="white-space:nowrap; background-color:forestgreen; color:black">
                                Sesuai Target
                            </th>
                            <th style="white-space:nowrap; background-color:yellow; color:black">
                                Dibawah Target
                            </th>
                            <th style="white-space:nowrap; background-color:red; color:black">
                                Jauh Dibawah
                            </th>
                            <th style="white-space:nowrap; background-color:gray; color:black">
                                Belum Mulai
                            </th>
                            <th style="white-space:nowrap; background-color:black; color:white">
                                Selesai
                            </th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                    <tfoot>
                        <tr>
                            <th style="text-align:right">Total:</th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                        </tr>
                    </tfoot>
                </table>
            </div>

        </div>
    </div>
</div>

<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    @*<section class="box">
        <header class="panel_header">
            <h2 class="title pull-left">Laporan Sumary</h2>
            <div class="actions panel_actions pull-right">
                <i class="box_toggle material-icons">expand_more</i>
                <i class="box_close material-icons">close</i>
            </div>
        </header>
        <div class="content-body padding-top-45">
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12 padding-left-0 padding-right-0">
                    <div class="row">
                        <div class="form-group has-focus col-md-3" inputgroup="">
                            <div class="controls">
                                <select class="form-control">
                                    <option value="Default Select">Pilih Semester</option>
                                    <option value="Option 1">Semester 1</option>
                                    <option value="Option 2">Semester 2</option>
                                </select>
                            </div>
                        </div>

                        <div class="form-group has-focus col-md-3" inputgroup="">
                            <div class="controls">
                                <select class="form-control">
                                    <option value="Default Select">Pilih Tahun</option>
                                    <option value="Option 1">2000</option>
                                    <option value="Option 2">2001</option>
                                    <option value="Option 2">2002</option>
                                    <option value="Option 2">2003</option>
                                    <option value="Option 2">2004</option>
                                    <option value="Option 2">2005</option>
                                </select>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <button type="button" class="btn btn-info btn-corner"><a href="#"><i class="fa fa-search"></i>&nbsp;&nbsp; Search</a></button>
                        </div>

                        <div class="col-md-2 pull-right">
                            <div class="input-group transparent pull-right">
                                <span class="input-group-addon">
                                    <span class="arrow"></span>
                                    <i class="fa fa-search"></i>
                                </span>
                                <input type="text" class="form-control" placeholder="Cari" id="txtSearch" onkeyup="searchfunction()">
                            </div>
                        </div>

                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            
                        </div>

                        <div class=" form-group col-md-12">
                            <button class="btn btn-info btn-icon  right15 margin-bottom-15">
                                <i class="fa fa-link"></i> &nbsp; <span>Export To Excel</span>
                            </button>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </section>*@
</div>

<script>

    var urlLaporanSummarySearch = '@Url.Action("LaporanSumaryPelaksanaanProyekSearch", "Laporan")';

    $(document).ready(function () {

        $('#tblReportSummary').DataTable({
            "bLengthChange": false,
            searching: true,
            "scrollX": true,
            info: false
        });

        $('.ddlYear').select2({
            placeholder: 'Pilih Tahun',
            selectOnClose: true
        });

        $('.ddlMonth').select2({
            placeholder: 'Pilih Bulan',
            selectOnClose: true
        });

    });

    function Search() {

        //Set Param
        $('#ddlMonthHide').val($('#ddlMonth').val());
        $('#ddlYearHide').val($('#ddlYear').val());

        var param = {
            Month: $('#ddlMonthHide').val(),
            Year: $('#ddlYearHide').val()
        }

        $.ajax({
            url: urlLaporanSummarySearch,
            data: param,
            success: function (result) {

                $('#tblReportSummary').DataTable().destroy();
                //$('#tblReportSummary').empty();
                //$("#tblReportSummary tr").remove();

                $('#tblReportSummary').DataTable({
                    "bLengthChange": false,
                    searching: true,
                    "scrollX": true,
                    info: false,
                    data: result.Data,
                    "columns": [
                        { "data": "StrategicObjectiveName", "width": "40%" },

                        { "data": "DiatasTarget_T" },
                        { "data": "SesuaiTarget_T" },
                        { "data": "DibawahTarget_T" },
                        { "data": "JauhDibawahTarget_T" },
                        { "data": "BelumDimulai_T" },
                        { "data": "Selesai_T" },

                        { "data": "DiatasTarget_NT" },
                        { "data": "SesuaiTarget_NT" },
                        { "data": "DibawahTarget_NT" },
                        { "data": "JauhDibawahTarget_NT" },
                        { "data": "BelumDimulai_NT" },
                        { "data": "Selesai_NT" },

                        { "data": "JumlahProject" }
                    ],
                    "footerCallback": function (row, data, start, end, display) {
                        var api = this.api(), data;

                        // Remove the formatting to get integer data for summation
                        var intVal = function (i) {
                            return typeof i === 'string' ?
                                i.replace(/[\$,]/g, '') * 1 :
                                typeof i === 'number' ?
                                    i : 0;
                        };

                        // Total over all pages
                        total1 = api
                            .column(1)
                            .data()
                            .reduce(function (a, b) {
                                return intVal(a) + intVal(b);
                            }, 0);

                        total2 = api
                            .column(2)
                            .data()
                            .reduce(function (a, b) {
                                return intVal(a) + intVal(b);
                            }, 0);

                        total3 = api
                            .column(3)
                            .data()
                            .reduce(function (a, b) {
                                return intVal(a) + intVal(b);
                            }, 0);

                        total4 = api
                            .column(4)
                            .data()
                            .reduce(function (a, b) {
                                return intVal(a) + intVal(b);
                            }, 0);

                        total5 = api
                            .column(5)
                            .data()
                            .reduce(function (a, b) {
                                return intVal(a) + intVal(b);
                            }, 0);

                        total6 = api
                            .column(6)
                            .data()
                            .reduce(function (a, b) {
                                return intVal(a) + intVal(b);
                            }, 0);

                        total7 = api
                            .column(7)
                            .data()
                            .reduce(function (a, b) {
                                return intVal(a) + intVal(b);
                            }, 0);

                        total8 = api
                            .column(8)
                            .data()
                            .reduce(function (a, b) {
                                return intVal(a) + intVal(b);
                            }, 0);

                        total9 = api
                            .column(9)
                            .data()
                            .reduce(function (a, b) {
                                return intVal(a) + intVal(b);
                            }, 0);

                        total10 = api
                            .column(10)
                            .data()
                            .reduce(function (a, b) {
                                return intVal(a) + intVal(b);
                            }, 0);

                        total11 = api
                            .column(11)
                            .data()
                            .reduce(function (a, b) {
                                return intVal(a) + intVal(b);
                            }, 0);

                        total12 = api
                            .column(12)
                            .data()
                            .reduce(function (a, b) {
                                return intVal(a) + intVal(b);
                            }, 0);

                        total13 = api
                            .column(13)
                            .data()
                            .reduce(function (a, b) {
                                return intVal(a) + intVal(b);
                            }, 0);


                        // Total over this page
                        pageTotal1 = api
                            .column(1, { page: 'current' })
                            .data()
                            .reduce(function (a, b) {
                                return intVal(a) + intVal(b);
                            }, 0);

                        pageTotal2 = api
                            .column(2, { page: 'current' })
                            .data()
                            .reduce(function (a, b) {
                                return intVal(a) + intVal(b);
                            }, 0);

                        pageTotal3 = api
                            .column(3, { page: 'current' })
                            .data()
                            .reduce(function (a, b) {
                                return intVal(a) + intVal(b);
                            }, 0);

                        pageTotal4 = api
                            .column(4, { page: 'current' })
                            .data()
                            .reduce(function (a, b) {
                                return intVal(a) + intVal(b);
                            }, 0);

                        pageTotal5 = api
                            .column(5, { page: 'current' })
                            .data()
                            .reduce(function (a, b) {
                                return intVal(a) + intVal(b);
                            }, 0);

                        pageTotal6 = api
                            .column(6, { page: 'current' })
                            .data()
                            .reduce(function (a, b) {
                                return intVal(a) + intVal(b);
                            }, 0);

                        pageTotal7 = api
                            .column(7, { page: 'current' })
                            .data()
                            .reduce(function (a, b) {
                                return intVal(a) + intVal(b);
                            }, 0);

                        pageTotal8 = api
                            .column(8, { page: 'current' })
                            .data()
                            .reduce(function (a, b) {
                                return intVal(a) + intVal(b);
                            }, 0);

                        pageTotal9 = api
                            .column(9, { page: 'current' })
                            .data()
                            .reduce(function (a, b) {
                                return intVal(a) + intVal(b);
                            }, 0);

                        pageTotal10 = api
                            .column(10, { page: 'current' })
                            .data()
                            .reduce(function (a, b) {
                                return intVal(a) + intVal(b);
                            }, 0);

                        pageTotal11 = api
                            .column(11, { page: 'current' })
                            .data()
                            .reduce(function (a, b) {
                                return intVal(a) + intVal(b);
                            }, 0);

                        pageTotal12 = api
                            .column(12, { page: 'current' })
                            .data()
                            .reduce(function (a, b) {
                                return intVal(a) + intVal(b);
                            }, 0);

                        pageTotal13 = api
                            .column(13, { page: 'current' })
                            .data()
                            .reduce(function (a, b) {
                                return intVal(a) + intVal(b);
                            }, 0);

                        // Update footer
                        $(api.column(1).footer()).html(
                            pageTotal1 + ' (' + total1 + ' total)'
                        );

                        $(api.column(2).footer()).html(
                            pageTotal2 + ' (' + total2 + ' total)'
                        );

                        $(api.column(3).footer()).html(
                            pageTotal3 + ' (' + total3 + ' total)'
                        );

                        $(api.column(4).footer()).html(
                            pageTotal4 + ' (' + total4 + ' total)'
                        );

                        $(api.column(5).footer()).html(
                            pageTotal5 + ' (' + total5 + ' total)'
                        );

                        $(api.column(6).footer()).html(
                            pageTotal6 + ' (' + total6 + ' total)'
                        );

                        $(api.column(7).footer()).html(
                            pageTotal7 + ' (' + total7 + ' total)'
                        );

                        $(api.column(8).footer()).html(
                            pageTotal8 + ' (' + total8 + ' total)'
                        );

                        $(api.column(9).footer()).html(
                            pageTotal9 + ' (' + total9 + ' total)'
                        );

                        $(api.column(10).footer()).html(
                            pageTotal10 + ' (' + total10 + ' total)'
                        );

                        $(api.column(11).footer()).html(
                            pageTotal11 + ' (' + total11 + ' total)'
                        );

                        $(api.column(12).footer()).html(
                            pageTotal12 + ' (' + total12 + ' total)'
                        );

                        $(api.column(13).footer()).html(
                            pageTotal13 + ' (' + total13 + ' total)'
                        );

                    }
                });

            }
        });

    }

    function OnOnchangeDdlYear(CurrentYear, CurrentMonth) {

        var ListMonth = @Html.Raw(Json.Encode(GlobalHelper.ListDropDowMonth()));

        debugger;

        var Year = $('#ddlYear').val();
        var select = document.getElementById("ddlMonth");

        select.innerHTML = "";

        if (Year == CurrentYear) {
            for (var i = 0; i < 12; i++) {
                if (ListMonth[i].Month == CurrentMonth) {
                    select.innerHTML += "<option value=\"" + ListMonth[i].Month + "\">" + ListMonth[i].Description + "</option>";
                    i = 12;
                }
                else {
                    select.innerHTML += "<option value=\"" + ListMonth[i].Month + "\">" + ListMonth[i].Description + "</option>";
                }
            }
        } else {
            for (var i = 0; i < 12; i++) {
                select.innerHTML += "<option value=\"" + ListMonth[i].Month + "\">" + ListMonth[i].Description + "</option>";
            }
        }

    }

   function ExportToExcel() {
       window.open('@Url.Action("LaporanSumaryPelaksanaanProyekExcel", "Exporting")' + '?Year=' + $('#ddlYearHide').val() + '&Month=' + $('#ddlMonthHide').val());
    }

</script>
