
@{
    ViewBag.Title = "Laporan Series Pertahun";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using LPS_ProjectManagement.Helper;
<style>
    .circle {
        border-radius: 50%;
        width: 5px;
        height: 5px;
        margin: auto;
        padding: 5px;
        /* width and height can be anything, as long as they're equal */
    }

    thead, th, tbody, td {
        text-align: center;
    }

    .th {
        white-space: nowrap;
        text-align: center;
    }

    .align-l {
        text-align: left;
    }
</style>

<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <div class="content-body">

        <div class="row padding-top-45">

            <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
                <div class="form-group has-warning">
                    <label class="form-label label-header" for="ddlYear1">Tahun-1</label>
                    <span class="desc"></span>
                    <div class="controls">
                        <select id="ddlYear1" class="form-control ddlYear1" style="width:100%;" onchange="">
                            @for (int year1 = Convert.ToInt32(DateTime.Now.Year.ToString()) - 5; year1 <= Convert.ToInt32(DateTime.Now.Year.ToString()); year1++)
                            {
                                if (Convert.ToInt32(DateTime.Now.Year.ToString()) == year1)
                                {
                                    <option value=@year1 selected="selected">@year1</option>
                                }
                                else
                                {
                                    <option value=@year1>@year1</option>
                                }
                            }
                        </select>
                    </div>
                </div>
            </div>
            <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
                <div class="form-group has-warning">
                    <label class="form-label label-header" for="ddlYear2">Tahun-2</label>
                    <span class="desc"></span>
                    <div class="controls">
                        <select id="ddlYear2" class="form-control ddlYear2" style="width:100%;" onchange="">
                            @for (int year2 = Convert.ToInt32(DateTime.Now.Year.ToString()) - 10; year2 <= Convert.ToInt32(DateTime.Now.Year.ToString()); year2++)
                            {
                                if (Convert.ToInt32(DateTime.Now.Year.ToString()) == year2)
                                {
                                    <option value=@year2 selected="selected">@year2</option>
                                }
                                else
                                {
                                    <option value=@year2>@year2</option>
                                }
                            }
                        </select>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                <div class="form-group has-warning">
                    <label class="form-label label-header" for="btnSearch">&nbsp;</label>
                    <span class="desc"></span>
                    <div class="controls">
                        <button onclick="Search()" type="button" class="btn btn-info btn-corner"><i class="fa fa-search"></i>&nbsp;&nbsp; Search</button>
                        &nbsp;
                        <button onclick="ExportToPdf()" type="button" class="btn btn-warning btn-corner">@*<a href="">*@<i class="fa fa-print"></i>&nbsp;&nbsp; Export To PDF@*</a>*@</button>
                        <button onclick="ExportToExcel()" type="button" class="btn btn-warning btn-corner">@*<a href="">*@<i class="fa fa-print"></i>&nbsp;&nbsp; Export To Excel@*</a>*@</button>
                    </div>
                </div>
            </div>

        </div>

        <div id="table" class="row">

            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <table id="tblReportSeriesPertahun" class="table table-bordered" style="width:100%">
                    <thead>
                        <tr>
                            <th>Tahun</th>
                            <th>Total Project</th>
                            <th>Total Anggaran</th>
                            <th>Pencapaian (%)</th>
                            <th>Capaian KPI (%)</th>
                        </tr>
                    </thead>
                    <tbody></tbody>

                </table>
            </div>

        </div>

    </div>
</div>

<script>

    var urlLaporanSeriesPertahunSearch = '@Url.Action("LaporanSeriesPertahunSearch", "Laporan")';

    $(document).ready(function () {

        $('#tblReportSeriesPertahun').DataTable({
            "bLengthChange": false,
            searching: true,
            "scrollX": true,
            info: false
        });


        $('.ddlYear1').select2({
            placeholder: 'Pilih Tahun-1',
            selectOnClose: true
        });

        $('.ddlYear2').select2({
            placeholder: 'Pilih Tahun-2',
            selectOnClose: true
        });

    });

    //function week() {
    //    var week = document.getElementById("ddlTipe").value;
    //    if (week == 7) {
    //        $('#week').show();
    //    } else {
    //        $('#week').hide();
    //    }
    //}

    //function MonYear() {
    //    var bulan = ["Jan", "Feb", "Mar", "Apr", "Mei", "Juni", "Juli", "Agu", "Sep", "Okt", "Nov", "Des"];
    //    var Periode = bulan[$('#ddlMonth').val() - 1] + " " + $('#ddlYear').val();

    //    $('#bln1').text(Periode);
    //    $('#bln2').text(Periode);
    //    $('#bln3').text(Periode);
    //    $('#bln4').text(Periode);

    //    $('#bln5').text(Periode);
    //    $('#bln6').text(Periode);
    //    $('#bln7').text(Periode);
    //    $('#bln8').text(Periode);
    //}

    function Search() {

        //MonYear();
        document.getElementById('tblReportSeriesPertahun').style.fontFamily = "'Segoe UI', Arial, Helvetica, sans-serif";

        var param = {
            //tipe: $('#ddlTipe').val(),
            //week: 0,
            //month: $('#ddlMonth').val(),
            thn1: $('#ddlYear1').val(),
            thn2: $('#ddlYear2').val()
        }

        $.ajax({
            url: urlLaporanSeriesPertahunSearch,
            data: param,
            success: function (result) {

                $('#tblReportSeriesPertahun').DataTable().destroy();

                $('#tblReportSeriesPertahun').DataTable({
                    "bLengthChange": false,
                    searching: true,
                    "scrollX": true,
                    info: false,
                    data: result.Data,
                    "columns": [
                        { "data": "Tahun", "className": "align-l", "width" : "20%" },
                        { "data": "TotalProject", "className": "text-right", "width": "20%"},
                        { "data": "TotalAnggaran", "className": "text-right", "width": "20%"},
                        { "data": "Pencapaian", "className": "text-right", "width": "20%" },
                        { "data": "CapaianKPI", "className": "text-right", "width": "20%"}
                    ]
                    //,
                    //"columnDefs": [
                    //    {
                    //        "render": function (data) {

                    //            return data.replace(/(\d{3}(?!$))/g, "$1" + '.');
                    //        },
                    //        "targets": 2
                    //    }
                    // ]
                    //,
                    //"footerCallback": function (row, data, start, end, display) {
                    //    var api = this.api(), data;

                    //    // Remove the formatting to get integer data for summation
                    //    var intVal = function (i) {
                    //        return typeof i === 'string' ?
                    //            i.replace(/[\$,]/g, '') * 1 :
                    //            typeof i === 'number' ?
                    //                i : 0;
                    //    };

                    //    // Total over all pages
                    //    total1 = api
                    //        .column(1)
                    //        .data()
                    //        .reduce(function (a, b) {
                    //            return intVal(a) + intVal(b);
                    //        }, 0);

                    //    total2 = api
                    //        .column(2)
                    //        .data()
                    //        .reduce(function (a, b) {
                    //            return intVal(a) + intVal(b);
                    //        }, 0);

                    //    total3 = api
                    //        .column(3)
                    //        .data()
                    //        .reduce(function (a, b) {
                    //            return intVal(a) + intVal(b);
                    //        }, 0);

                    //    total4 = api
                    //        .column(4)
                    //        .data()
                    //        .reduce(function (a, b) {
                    //            return intVal(a) + intVal(b);
                    //        }, 0);

                    //    total5 = api
                    //        .column(5)
                    //        .data()
                    //        .reduce(function (a, b) {
                    //            return intVal(a) + intVal(b);
                    //        }, 0);


                    //    // Total over this page
                    //    pageTotal1 = api
                    //        .column(1, { page: 'current' })
                    //        .data()
                    //        .reduce(function (a, b) {
                    //            return intVal(a) + intVal(b);
                    //        }, 0);

                    //    pageTotal2 = api
                    //        .column(2, { page: 'current' })
                    //        .data()
                    //        .reduce(function (a, b) {
                    //            return intVal(a) + intVal(b);
                    //        }, 0);

                    //    pageTotal3 = api
                    //        .column(3, { page: 'current' })
                    //        .data()
                    //        .reduce(function (a, b) {
                    //            return intVal(a) + intVal(b);
                    //        }, 0);

                    //    pageTotal4 = api
                    //        .column(4, { page: 'current' })
                    //        .data()
                    //        .reduce(function (a, b) {
                    //            return intVal(a) + intVal(b);
                    //        }, 0);

                    //    pageTotal5 = api
                    //        .column(5, { page: 'current' })
                    //        .data()
                    //        .reduce(function (a, b) {
                    //            return intVal(a) + intVal(b);
                    //        }, 0);

                    //    // Update footer
                    //    $(api.column(1).footer()).html(
                    //        pageTotal1 /*+ ' (' + total1 + ' total)'*/
                    //    );

                    //    //$(api.column(2).footer()).html(
                    //    //    pageTotal2 + ' (' + total2 + ' total)'
                    //    //);

                    //    //$(api.column(3).footer()).html(
                    //    //    pageTotal3 + ' (' + total3 + ' total)'
                    //    //);

                    //    $(api.column(4).footer()).html(
                    //        pageTotal4 + '%' /*+ ' (' + total4 + '% total)'*/
                    //    );

                    //    $(api.column(5).footer()).html(
                    //        pageTotal5 + '%' /*+ ' (' + total5 + '% total)'*/
                    //    );
                    //}
                });

            }
        });

    }

    function ExportToPdf() {
        location.href = '@Url.Action("PrintSeriesPerTahun", "Exporting")' + '?thn1=' + $('#ddlYear1').val() + '&thn2=' + $('#ddlYear2').val();
    }

    @*function OnOnchangeDdlYear(CurrentYear, CurrentMonth) {

        var ListMonth = @Html.Raw(Json.Encode(GlobalHelper.ListDropDowMonth()));

        debugger;

        var Year = $('#ddlYear').val();
        var select = document.getElementById("ddlMonth");

        select.innerHTML = "";

        if (Year == CurrentYear) {
            for (var i = 0; i < 12; i++) {
                if (ListMonth[i].Month == CurrentMonth) {
                    select.innerHTML += "<option value=\"" + ListMonth[i].Month + "\">" + ListMonth[i].Description + "</option>";
                    i = 12;
                }
                else {
                    select.innerHTML += "<option value=\"" + ListMonth[i].Month + "\">" + ListMonth[i].Description + "</option>";
                }
            }
        } else {
            for (var i = 0; i < 12; i++) {
                select.innerHTML += "<option value=\"" + ListMonth[i].Month + "\">" + ListMonth[i].Description + "</option>";
            }
        }

    }*@

    function DownloadAllData() {
        var Month = $('#ddlMonth').val();
        var Year = $('#ddlYear').val();
        var Week = 0;
        var isTransformasi = $('#ddlTipe').val();
        //location.href = '@Url.Action("ExportExcelAllDataRow", "Laporan")' + '?Year=' + $('#ddlYear').val() + '&Month=' + $('#ddlMonth').val() + '&Week=' + $('#ddlWeek').val();
        window.open('@Url.Action("LaporanProgramPrintint", "Laporan")' + '?year=' + Year + '&month=' + Month + '&week=' + Week + '&tipe=' + isTransformasi );
    }

    function ExportToExcel() {
        window.open('@Url.Action("LaporanSeriesPerTahunExcel", "Exporting")' + '?thn1=' + $('#ddlYear1').val() + '&thn2=' + $('#ddlYear2').val());
    }
</script>


