@using Newtonsoft.Json
@using LPS_ProjectManagement.Models
@model LPS_ProjectManagement.Models.DashboardModels.DashboardProject.DashboardProjectHeaderModel

@{
    ViewBag.Title = "Laporan All Data";
    Layout = "~/Views/Shared/_Layout.cshtml";


    List<DropDownMasterStatusModel> masterDdl = ViewBag.ListDdl;
    var json_ListDdl = Html.Raw(JsonConvert.SerializeObject(masterDdl));
}

@using LPS_ProjectManagement.Helper;

<style>

    td {
        white-space: normal;
    }

    .width-300 {
        width: 300px;
    }

    .width-200 {
        width: 200px;
    }

    .width-100 {
        width: 100px;
    }

    .width-150 {
        width: 150px;
    }
</style>

<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <section class="box">
            <div class="content-body padding-15" style=" max-height: none; overflow: auto;">
                <div class="row padding-15">

                    <div class="col-md-2 padding-top-30">
                        <h4>Year</h4>
                        <select id="ddlYear" class="form-control ddlYear" style="width:100%;" onchange="OnOnchangeDdlYear(@DateTime.Now.Year, @DateTime.Now.Month)">
                            @for (int year = Convert.ToInt32(DateTime.Now.Year.ToString()) - 10; year <= Convert.ToInt32(DateTime.Now.Year.ToString()); year++)
                            {
                                if (Convert.ToInt32(DateTime.Now.Year.ToString()) == year)
                                {
                                    <option value=@year selected="selected">@year</option>
                                }
                                else
                                {
                                    <option value=@year>@year</option>
                                }
                            }
                        </select>
                    </div>

                    <div class="col-md-2 padding-top-30">
                        <h4>Month</h4>
                        <select id="ddlMonth" class="form-control ddlMonth" style="width:100%" onchange="OnOnchangeDdlMonth()">
                            @{ var ListMonth = GlobalHelper.ListDropDowMonth(); }

                            @for (int i = 0; i < 12; i++)
                            {
                                if (ListMonth[i].Month == Model.Month)
                                {
                                    <option value="@ListMonth[i].Month" selected="selected">@ListMonth[i].Description</option>
                                    i = 12;
                                }
                                else
                                {
                                    <option value="@ListMonth[i].Month">@ListMonth[i].Description</option>
                                }
                            }
                        </select>
                    </div>

                    <div class="col-md-2 padding-top-30" style="vertical-align:central">
                        <h4>Week</h4>
                        <select id="ddlWeek" class="form-control ddlWeek" style="width:100%">

                            @for (int x = 1; x <= Model.JumlahWeek; x++)
                            {
                                if (x == (Model.Week))
                                {
                                    <option value="@x" selected="selected">Minggu Ke-@x</option>
                                }
                                else
                                {
                                    if (x <= Model.Week)
                                    {
                                        <option value="@x">Minggu Ke-@x</option>
                                    }
                                }
                            }

                        </select>
                    </div>

                    <div class="col-md-2 padding-top-30" style="vertical-align:central">
                        <h4>Jenis</h4>
                        <select id="ddlIsTransformasi" class="form-control ddlIsTransformasi" style="width:100%">
                            <option value="0" selected="selected">All</option>
                            <option value="1">Transformasi</option>
                            <option value="2">Non Transformasi</option>
                        </select>
                    </div>

                    <div class="col-md-2 padding-top-30" style="vertical-align:central">
                        <h4>Status</h4>
                        @*<select id="ddlStatus" class="form-control ddlIsTransformasi" style="width:100%">
            <option value="ALL" selected="selected">All</option>
        </select>*@
                        <div id="ddlStatusdiv">
                        </div>
                    </div>

                    <div class="col-md-4 padding-top-30" style="text-align:center">
                        &nbsp;
                        <button class="btn btn-success" onclick="AllDataSearch()"><i class="fa fa-search"></i> Search</button>
                        &nbsp;
                        <button class="btn btn-success" onclick="DownloadAllData()"><i class="fa fa-download"></i> Download</button>
                        &nbsp;
                        <button class="btn btn-success" onclick="UpdatedDashboard()"><i class="fa fa-bell"></i> Update Report</button>
                    </div>

                </div>

                <div class="row padding-15 padding-right-15">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <table id="tblListAllData" class="display" style="width:100%">
                            <thead>
                                <tr>
                                    <th style="text-align:center; white-space:nowrap" rowspan="2">No.</th>
                                    <th style="text-align:center; white-space:nowrap" rowspan="2">Nama Proyek</th>
                                    <th style="text-align:center; white-space:nowrap" rowspan="2">Kode Proyek</th>
                                    <th style="text-align:center; white-space:nowrap" rowspan="2">Unit Kerja</th>
                                    <th style="text-align:center; white-space:nowrap" colspan="3">Proyek</th>
                                    <th style="text-align:center; white-space:nowrap" rowspan="2">Status Capaian</th>
                                    <th style="text-align:center; white-space:nowrap" rowspan="2">Tanggal Mulai</th>
                                    <th style="text-align:center; white-space:nowrap" rowspan="2">Tanggal Selesai</th>
                                    <th style="text-align:center; white-space:nowrap" rowspan="2">Target</th>
                                    <th style="text-align:center; white-space:nowrap" rowspan="2">Realisasi</th>

                                    <th style="text-align:center; white-space:nowrap" rowspan="2">Kode SO</th>
                                    <th style="text-align:center; white-space:nowrap" rowspan="2">Nama SO</th>
                                    <th style="text-align:center; white-space:nowrap" rowspan="2">Kode KPI</th>
                                    <th style="text-align:center; white-space:nowrap" rowspan="2">Kode Program</th>
                                    <th style="text-align:center; white-space:nowrap" rowspan="2">Nama Program</th>

                                    <th style="text-align:center; white-space:nowrap" rowspan="2">Nama Project Manager</th>


                                    <th style="text-align:center; white-space:nowrap" rowspan="2">Jenis Proyek</th>



                                    <th style="text-align:center; white-space:nowrap" rowspan="2">Kendala Internal/Eksternal</th>
                                    <th style="text-align:center; white-space:nowrap" rowspan="2">Rencana Aksi</th>
                                    <th style="text-align:center; white-space:nowrap" rowspan="2">Anggaran</th>
                                    <th style="text-align:center; white-space:nowrap" rowspan="2">Komitmen</th>
                                    <th style="text-align:center; white-space:nowrap" rowspan="2">Realisasi</th>
                                    <th style="text-align:center; white-space:nowrap" rowspan="2">% Realisasi / Anggaran</th>
                                    <th style="text-align:center; white-space:nowrap" rowspan="2">Status Project</th>
                                    <th style="text-align:center; white-space:nowrap" rowspan="2">Last Updated</th>
                                    @*<th style="text-align:center; white-space:nowrap" rowspan="2">Program Manager</th>
                                        <th style="text-align:center; white-space:nowrap" rowspan="2">Periode</th>*@
                                </tr>
                                <tr>
                                    <th style="text-align:center; white-space:nowrap">Target</th>
                                    <th style="text-align:center; white-space:nowrap">Realisasi</th>
                                    <th style="text-align:center; white-space:nowrap">Pencapaian</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>

            </div>
        </section>
    </div>
</div>

<script>

    $(document).ready(function () {
        var ddlstatus = @(json_ListDdl);
        var select = document.createElement("select");
        $(select).attr("name", "ddlStatusName");
        $(select).attr("id", "ddlStatus");
        $(select).addClass("form-control ddlIsTransformasi");
        var optionb = document.createElement("option");
        optionb.value = "ALL";
        optionb.text = "All";
        select.append(optionb);
        $.each(ddlstatus, function (index, type) {
            var option = document.createElement("option");
            option.value = type.Id;
            option.text = type.Deskripsi;
            select.append(option);
        })
        $("#ddlStatusdiv").append(select);

        $('#tblListAllData').DataTable({
            "bLengthChange": false,
            searching: true,
            "scrollX": true,
            info: false
        });

        $('.ddlYear').select2({
            placeholder: 'Pilih Tahun',
            selectOnClose: true
        });

        $('.ddlMonth').select2({
            placeholder: 'Pilih Bulan',
            selectOnClose: true
        });

        $('.ddlWeek').select2({
            placeholder: 'Pilih Minggu',
            selectOnClose: true
        });

        $('.ddlIsTransformasi').select2({
            placeholder: 'Pilih Minggu',
            selectOnClose: true
        });

    });

    function UpdatedDashboard() {

        var r = confirm("Melakukan update data akan memberikan dampak penurunan performa pada aplikasi PROMISE, kemungkinan dapat menyebabkan kegagalan transaksi data! Anda yakin ingin melakukan update data?");

        if (r == true) {
            $.ajax({
                type: "GET",
                url: '@Url.Action("GenerateDashboard", "Beranda")',
                traditional: true,
                success: function (result) {
                    if (result.Result === "Success") {
                        alert(result.Message);
                        window.location.href = '@Url.Action("Index", "Beranda")';
                    }
                    else {
                        alert(result.Message);
                    }
                }
            });
        }

    }

    function AllDataSearch() {
        data = {
            Year: $('#ddlYear').val(),
            Month: $('#ddlMonth').val(),
            Week: $('#ddlWeek').val(),
            IsTransformasi: $('#ddlIsTransformasi').val(),
            StatusProjectHeader: $('#ddlStatus').val()
        }

        $.ajax({
            url: '@Url.Action("LaporanAllDataSearch", "Laporan")',
            data: data,
            success: function (result) {
                debugger;

                if (result.Result === "Success") {

                    $('#tblListAllData').DataTable().destroy();

                    $('#tblListAllData').DataTable({
                        "bLengthChange": false,
                        "autoWidth": false,
                        searching: true,
                        "scrollX": true,
                        info: false,
                        data: result.Data,
                        "columns": [
                            {
                                "data": "No",
                                "className": "text-left"
                            },
                            {
                                "data": "ProjectName",
                                render: function (data, type, row) {
                                    return "<div class='text-wrap width-200'>" + data + "</div>";
                                }
                            },
                            {
                                "data": "ProjectNo",
                                "className": "text-left"
                            },
                            {
                                "data": "DepartmentCode",
                                "className": "text-left"
                            },
                            {
                                "data": "PlanPencapaian",
                                "className": "text-right"
                            },
                            {
                                "data": "RealisasiPencapaian",
                                "className": "text-right"
                            },
                            {
                                "data": "Pencapaian",
                                "className": "text-right"
                            },
                            {
                                data: 'StatusCapaian',
                                "className": "text-center",
                                render: function (data, type, row) {
                                    var showHtml = "";
                                    if (data >= 110) {
                                        showHtml = '<div><i class="material-icons center" style="color:blue">brightness_1</i></div>';
                                    } else if (data >= 100 & data < 110) {
                                        showHtml = '<div><i class="material-icons center" style="color:green">brightness_1</i></div>';
                                    } else if (data >= 85 & data < 100) {
                                        showHtml = '<div><i class="material-icons center" style="color:yellow">brightness_1 </i></div>';
                                    } else if (data < 85){
                                        showHtml = '<div><i class="material-icons center" style="color:red">brightness_1 </i></div>'
                                    }
                                    return showHtml;
                                }
                            },
                            {
                                "data": "StartDate",
                                "className": "text-left"
                            },
                            {
                                "data": "EndDate",
                                "className": "text-left"
                            },
                            {
                                "data": "Target",
                                "className": "text-left",
                                 render: function (data, type, row) {
                                    return "<div class='text-wrap width-300'>" + data + "</div>";
                                }
                            },
                            {
                                "data": "Realisasi",
                                "className": "text-left",
                                 render: function (data, type, row) {
                                    return "<div class='text-wrap width-300'>" + data + "</div>";
                                }
                            },

                            {
                                "data": "StrategicObjectiveCode",
                                "className": "text-left"
                            },
                            {
                                "data": "StrategicObjectiveName",
                                "className": "text-left",
                                render: function (data, type, row) {
                                    return "<div class='text-wrap width-200'>" + data + "</div>";
                                }
                            },
                            {
                                "data": "KPICode",
                                "className": "text-left"
                            },
                            {
                                "data": "ProgramNo",
                                "className": "text-left",
                            },
                            {
                                "data": "ProgramName",
                                "className": "text-left",
                                render: function (data, type, row) {
                                    return "<div class='text-wrap width-300'>" + data + "</div>";
                                }
                            },

                            {
                                "data": "NamaProjectManager",
                                "className": "text-left",
                                render: function (data, type, row) {
                                    return "<div class='text-wrap width-200'>" + data + "</div>";
                                }
                            },

                            {
                                "data": "IsTransformasi",
                                "className": "text-left"
                            },
                            {
                                "data": "Kendala",
                                "className": "text-left",
                                 render: function (data, type, row) {
                                    return "<div class='text-wrap width-200'>" + data + "</div>";
                                }
                            },
                            {
                                "data": "RencanaAksi",
                                "className": "text-left"
                            },
                            {
                                "data": "Anggaran",
                                "className": "text-right"
                            },
                            {
                                "data": "KomitAnggaran",
                                "className": "text-right"
                            },
                            {
                                "data": "RealisasiAnggaran",
                                "className": "text-right"
                            },
                            {
                                "data": "PersenRealisasiAnggaran",
                                "className": "text-right"
                            },
                            {
                                "data": "StatusProjectHeader",
                                "className": "text-left"
                            },
                            {
                                "data": "LastUpdated",
                                "className": "text-left"
                            }

                            //{
                            //    "data": "NamaProgramManager",
                            //    "className": "text-left"
                            //},
                            //{
                            //    "data": "Periode",
                            //    "className": "text-left"
                            //}
                        ]
                    });

                } else {
                    alert(result.Message);
                }

            },
            error: function (xhr, ajaxOptions, thrownError) {
                debugger;
                    alert(xhr.status);
                    alert(thrownError);
            }
        });
    }

    function DownloadAllData() {
        window.open('@Url.Action("ExportExcelAllDataRow", "Laporan")' + '?Year=' + $('#ddlYear').val() + '&Month=' + $('#ddlMonth').val() + '&Week=' + $('#ddlWeek').val() + '&IsTransformasi=' + $('#ddlIsTransformasi').val() + '&StatusProjectHeader=' + $('#ddlStatus').val());
    }

    function OnOnchangeDdlYear(CurrentYear, CurrentMonth) {

        var ListMonth = @Html.Raw(Json.Encode(GlobalHelper.ListDropDowMonth()));

        debugger;

        var Year = $('#ddlYear').val();
        var select = document.getElementById("ddlMonth");

        select.innerHTML = "";

        if (Year == CurrentYear) {
            for (var i = 0; i < 12; i++) {
                if (ListMonth[i].Month == CurrentMonth) {
                    select.innerHTML += "<option value=\"" + ListMonth[i].Month + "\">" + ListMonth[i].Description + "</option>";
                    i = 12;
                }
                else {
                    select.innerHTML += "<option value=\"" + ListMonth[i].Month + "\">" + ListMonth[i].Description + "</option>";
                }
            }
        } else {
            for (var i = 0; i < 12; i++) {
                select.innerHTML += "<option value=\"" + ListMonth[i].Month + "\">" + ListMonth[i].Description + "</option>";
            }
        }

        OnOnchangeDdlMonth();

    }

    @*function OnOnchangeDdlMonth() {
        var data = {
            Year: $('#ddlYear').val(),
            Month: $('#ddlMonth').val()
        }

        $.ajax({
            type: "GET",
            url: '@Url.Action("GetDdlWeek", "Beranda")',
            data: data,
            traditional: true,
            success: function (result) {
                var select = document.getElementById("ddlWeek");

                // Optional: Clear all existing options first:
                select.innerHTML = "";
                // Populate list with options:
                for (var i = 1; i <= result.JumlahWeek; i++) {
                    var opt = i;
                    select.innerHTML += "<option value=\"" + opt + "\">Minggu Ke-" + opt + "</option>";
                }
            }
        });
    }*@
    function OnOnchangeDdlMonth() {
        var data = {
            Year: $('#ddlYear').val(),
            Month: $('#ddlMonth').val()
        }
        var da = new Date();
        var Cyear = da.getFullYear();
        var Cmonth = da.getMonth() + 1;
        $.ajax({
            type: "GET",
            url: '@Url.Action("GetDdlWeek", "Beranda")',
            data: data,
            traditional: true,
            success: function (result) {
                var select = document.getElementById("ddlWeek");

                // Optional: Clear all existing options first:
                select.innerHTML = "";
                // Populate list with options:
                if (result.Month < Cmonth || result.Year < Cyear) {
                    for (var i = 1; i <= result.JumlahWeek; i++) {
                        var opt = i;
                        select.innerHTML += "<option value=\"" + opt + "\">Minggu Ke-" + opt + "</option>";
                    }
                }
                else {
                    for (var i = 1; i <= result.Week; i++) {
                        var opt = i;
                        select.innerHTML += "<option value=\"" + opt + "\">Minggu Ke-" + opt + "</option>";
                    }
                }
            }
        });
    }
</script>