@using LPS_ProjectManagement.Helper
@using LPS_ProjectManagement.Models

@{
    string TopBar = String.Empty;
    string Sidebar = String.Empty;
    string Mainbar = String.Empty;
    string title = ViewBag.Title;
    RoleProject[] RoleAplikasi = (RoleProject[])Session["Roles"];
    Html.IsToggleSideBar(out TopBar, out Sidebar, out Mainbar);
}
<!DOCTYPE html>



<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <!--Bootstrap-->
    <link href="~/Content/bootstrap-theme.css" rel="stylesheet" />
    <link href="~/Content/bootstrapmp.min.css" rel="stylesheet" />
    <!--Main Custom CSS-->
    <link href="~/Content/app.css" rel="stylesheet" />

    <!--Plugin-->
    <link href="~/Content/jquery.dataTables.min.css" rel="stylesheet" />
    <link href="~/Content/material-icons.css" rel="stylesheet" />
    <link href="~/Content/font-awesome.min.css" rel="stylesheet" />
    <link href="~/Content/pace.css" rel="stylesheet" />
    <link href="~/Content/mdl.css" rel="stylesheet" />
    <link href="~/Content/fulltable/jquery.fulltable.css" rel="stylesheet" />
    @*<link href="~/Content/highchart/css/highcharts.css" rel="stylesheet" />*@
    <link href="~/Content/dhtmlxgantt.css" rel="stylesheet" />
    <link href="~/Content/select2.min.css" rel="stylesheet" />
    <link href="~/Content/summernote-lite.css" rel="stylesheet" />
    <link href="~/Content/flatpickr.min.css" rel="stylesheet" />
    <!--<link href="~/Scripts/sweetalert2-8.2.1/package/dist/sweetalert2.min.css" />-->
    @*<link href="~/Content/dhtmlxgantt_material.css" rel="stylesheet" />*@

    <!--<script src="~/Scripts/sweetalert2-8.2.1/package/dist/sweetalert2.min.js"></script>-->
    <script src="~/Scripts/SweetAlert/sweetalert-js/sweetalert2.all.min.js"></script>
    <link href="~/Scripts/SweetAlert/sweetalert-css/sweetalert.css" rel="stylesheet">
    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <script src="~/Scripts/pace.min.js"></script>
    <script src="~/Scripts/mdl-min.js"></script>
    <script src="~/Content/fulltable/jquery.fulltable.js"></script>
    <script src="~/Content/highchart/highcharts.js"></script>
    <script src="~/Scripts/select2.min.js"></script>
    <script src="~/Scripts/summernote-lite.js"></script>

    <script src="~/Scripts/dhmtlx/dhtmlx.js"></script>
    <script src="~/Scripts/dhmtlx/dhtmlxcommon.js"></script>
    <script src="~/Scripts/dhmtlx/dhtmlxgantt.js"></script>
    <script src="~/Scripts/dhmtlx/dhtmlxscheduler.js"></script>

    <script src="~/Content/highchart/highcharts-more.js"></script>
    <script src="~/Content/highchart/modules/solid-gauge.js"></script>
    <script src="~/Content/highchart/highcharts.js"></script>
    <script src="~/Content/highchart/modules/data.js"></script>
    <script src="~/Content/highchart/modules/exporting.js"></script>
    <script src="~/Content/highchart/modules/export-data.js"></script>

    <script src="~/Scripts/flatpickr.js"></script>
    <script src="~/Scripts/tabify.js"></script>
    @*<script src="~/Scripts/iframeResizer.contentWindow.min.js"></script>*@
    <script src="~/Scripts/iframeResizer.min.js"></script>

    <link rel='shortcut icon' type='image/x-icon' href='~/Assets/Images/favico.ico' />


    <style>
        /* ================
           Assign Variables */
        /* ===========================
           Setup Mixins/Helper Classes */
        /*.clearfix:after, .container:after, .tab-nav:after {
          content: ".";
          display: block;
          height: 0;
          clear: both;
          visibility: hidden;
        }*/

        /* ===========
           Tab Styling */
        .tab-group {
            position: relative;
            border: 1px solid #eee;
            margin-top: 2.5em;
            border-radius: 0 0 10px 10px;
        }

            .tab-group section {
                opacity: 0;
                height: 0;
                padding: 0 1em;
                overflow: hidden;
                transition: opacity 0.4s ease, height 0.4s ease;
            }

                .tab-group section.active {
                    opacity: 1;
                    height: auto;
                    overflow: visible;
                }

        .tab-nav {
            list-style: none;
            margin: -2.5em -1px 0 0;
            padding: 0;
            height: 2.5em;
            overflow: hidden;
        }

            .tab-nav li {
                display: inline;
            }

                .tab-nav li a {
                    top: 1px;
                    position: relative;
                    display: block;
                    float: left;
                    border-radius: 10px 10px 0 0;
                    background: #eee;
                    line-height: 2em;
                    padding: 0 1em;
                    text-decoration: none;
                    color: grey;
                    margin-top: .5em;
                    margin-right: 1px;
                    transition: background .2s ease, line-height .2s ease, margin .2s ease;
                }

                .tab-nav li.active a {
                    background: #dba628;
                    color: white;
                    line-height: 2.5em;
                    margin-top: 0;
                }
    </style>


    <style>
        .wizard {
            font-family: "Segoe UI";
            list-style-type: none;
            font-weight: 500;
            text-align: center;
        }

            .wizard li {
                display: inline-block;
                background-color: #cccccc;
                color: #ffffff;
                padding: 0.75rem 2rem;
                transition: all 0.4s ease;
                text-indent: 1rem;
            }

                .wizard li:first-child {
                    border-top-left-radius: 5px;
                    border-bottom-left-radius: 5px;
                }

                .wizard li:last-child {
                    border-top-right-radius: 5px;
                    border-bottom-right-radius: 5px;
                }

                    .wizard li:last-child:after, .wizard li:last-child:before {
                        display: none;
                    }

                .wizard li:after, .wizard li:before {
                    content: "";
                    position: absolute;
                    background-color: #cccccc;
                }

                .wizard li:after {
                    border-radius: 3px;
                    border-right: 3px solid white;
                    border-top: 3px solid white;
                    height: 2.3rem;
                    width: 2.3rem;
                    margin-top: -0.45rem;
                    margin-left: 1rem;
                    -webkit-transform: rotate(45deg);
                }

                .wizard li.current {
                    background-color: #dba628;
                }

                    .wizard li.current:after, .wizard li.current:before {
                        background-color: #dba628;
                    }

                .wizard li.completed {
                    background-color: #efd31c;
                }

                    .wizard li.completed:after, .wizard li.completed:before {
                        background-color: #efd31c;
                    }
    </style>


</head>
<body>
    <script>
      $(function () {
        var sess_pollInterval = 60000;
        var sess_expirationMinutes = 30;
        var sess_warningMinutes = 5;
        var sess_intervalID;
        var sess_lastActivity;

        function initSession() {
            sess_lastActivity = new Date();
            sessSetInterval();
            $(document).bind('keypress.session', function (ed, e) {
                sessKeyPressed(ed, e);
            });
        }
        function sessSetInterval() {
            sess_intervalID = setInterval('sessInterval()', sess_pollInterval);
        }
        function sessClearInterval() {
            clearInterval(sess_intervalID);

        }
        function sessKeyPressed(ed, e) {
            sess_lastActivity = new Date();
        }
          function sessLogOut() {

            window.location.href = '@Url.Action("Logout", "Login")';
        }
        function sessInterval() {
            var now = new Date();
            //get milliseconds of differneces
            var diff = now - sess_lastActivity;
            //get minutes between differences
            var diffMins = (diff / 1000 / 60);
            if (diffMins >= sess_warningMinutes) {
                //warn before expiring
                //stop the timer
                sessClearInterval();
                //prompt for attention
                var active = confirm('Your session will expire in ' +
                (sess_expirationMinutes - sess_warningMinutes) +
                ' minutes (as of ' + now.toTimeString() + '),   press OK to remain logged in ' +
                'or press Cancel to log off. \nIf you are logged off any changes will be lost.');
                if (active == true) {

                    now = new Date();
                    diff = now - sess_lastActivity;
                    diffMins = (diff / 1000 / 60);
                    if (diffMins > sess_expirationMinutes) {
                        sessLogOut();
                    }
                    else {
                        initSession();
                        sessSetInterval();
                        sess_lastActivity = new Date();
                    }
                }
                else {
                    sessLogOut();
                }
            }
        }
    });
    </script>

    <!-- START TOPBAR -->
    <div class="page-topbar @TopBar" id="topbars">
        <div class='logo-area'>

        </div>
        <div class='quick-area'>
            <div class='pull-left slantit'>
                <ul class="info-menu left-links list-inline list-unstyled">
                    <li class="sidebar-toggle-wrap">
                        <a href="#" data-toggle="sidebar" class="sidebar_toggle" id="sidebar_toggle">
                            <i class="material-icons">menu</i>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="pull-left pagetitle">
                <span class='line'></span>
                <h1>@ViewBag.Title</h1>
                <div></div>
            </div>

            <div class='pull-right quickright margin-right-30'>

            </div>

            <div class="pull-right quickright margin-right-10" style=''>
                <ul class="info-menu right-links list-inline list-unstyled">
                    <li class="dropdown tab ">
                        <a href="@Url.Action("Logout","Login")" style="color: white !important;">
                            <i class="material-icons">lock</i> <span class="logo padding-top-0 margin-top-0">Logout</span>
                        </a>
                    </li>
                </ul>
            </div>


            <div class="pull-right quickright margin-right-30">
                <ul class="info-menu right-links list-inline list-unstyled">
                    <li class="notify-toggle-wrapper showopacity dropdown" id="toggle">
                        <a href="javascript:;" class="toggle" data-toggle="dropdown" aria-expanded="false" style="color: white !important;">
                            <i class="material-icons">notifications</i>
                            <span class="badge badge-accent" id="Jmlh_Notif1">0</span>
                        </a>
                        <ul class="dropdown-menu dropdown-menu-right notifications animated fadeIn">
                            <li class="total">
                                <span class="small">
                                    You have <strong id="Jmlh_Notif2">0</strong> new notifications.
                                </span>
                            </li>
                            <li class="list ps-container">
                                <ul class="dropdown-menu-list list-unstyled ps-scrollbar" id="Notif">
                                    @*<li class="unread available">
                                            <!-- available: success, warning, info, error -->
                                            <a href="javascript:;">
                                                <div class="notice-icon">
                                                    <i class="fa fa-check"></i>
                                                </div>
                                                <div>
                                                    <span class="name">
                                                        <!-- Category -->
                                                        <strong>Approval Initiation</strong><br />
                                                        <!-- Nama Project -->
                                                        <strong>Test</strong>
                                                        <!-- Message -->
                                                        <span class="time small">Need Approval</span>
                                                    </span>
                                                </div>
                                            </a>
                                        </li>*@
                                </ul>

                                <div class="ps-scrollbar-x-rail" style="left: 0px; bottom: 3px;"><div class="ps-scrollbar-x" style="left: 0px; width: 0px;"></div></div>
                                <div class="ps-scrollbar-y-rail" style="top: 0px; right: 3px;"><div class="ps-scrollbar-y" style="top: 0px; height: 0px;"></div></div>
                            </li>

                            @*<li class="external">
                                    <a href="javascript:;">
                                        <span>Read All Notifications</span>
                                    </a>
                                </li>*@
                        </ul>
                    </li>
                </ul>
            </div>

            @*<div class="pull-right quickright margin-right-30" style=''>
                    <ul class="info-menu right-links list-inline list-unstyled">
                        <li class="dropdown tab ">
                            <a href="#" class="dropdown-toggle toggle">
                                <i class="material-icons">notifications</i>
                                <span class="badge badge-accent">1</span>
                            </a>
                            <ul class="dropdown-menu  notifications animated fadeIn">
                                <li class="total">
                                    <span class="small">
                                        You have <strong>1</strong> new notifications.
                                        <a href="javascript:;" class="pull-right">Mark all as Read</a>
                                    </span>
                                </li>
                                <li class="list">
                                    <perfect-scrollbar wheel-propagation="true" suppress-scroll-x="true" min-scrollbar-length="20" class='ps-scrollbar'>
                                        <ul class="dropdown-menu-list list-unstyled">
                                            <li class="read">

                                                <a href="javascript:;">
                                                    <div class="notice-icon">
                                                        <i class="material-icons">1</i>
                                                    </div>
                                                    <div>
                                                        <span class="name">
                                                            <h4>Test</h4>
                                                            <span class="time small">Today</span>
                                                        </span>
                                                    </div>
                                                </a>
                                            </li>
                                        </ul>
                                    </perfect-scrollbar>
                                </li>
                                <li class="external">
                                    <a href="javascript:;">
                                        <span>Read All Notifications</span>
                                    </a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>*@




        </div>
    </div>
    <!-- SIDE BAR -->
    <div class="page-container row-fluid">
        <div class="page-sidebar   @Sidebar" id="sidebars" style="overflow-y:auto">
            <div class="profile-info ng-scope">
                <div class="profile-image col-md-12 col-sm-12 col-xs-12 text-center">
                    <a href="#/">
                        <img src="~/Assets/images/no-image.png" class="img-responsive" />
                        <span class="profile-status available"></span>
                    </a>
                </div>
                <div class="profile-details col-md-12 col-sm-12 col-xs-12">
                    <h3>
                        <a href="#">@Session["Nama"].ToString()</a>
                    </h3>
                    <p class="profile-title">@Session["Title"].ToString()</p>
                </div>
            </div>
            @*<div class="page-sidebar-wrapper ng-scope ps-container" id="main-menu-wrapper" wheel-propagation="true" suppress-scroll-x="true" min-scrollbar-length="20" menuheight="" style="height: 909px; overflow-y:auto">*@
            <div class="page-sidebar-wrapper ng-scope ps-container" id="main-menu-wrapper" wheel-propagation="true" suppress-scroll-x="true" min-scrollbar-length="20" menuheight="" style="height:auto">
                <ul class="wraplist wrapper-menu" id="menus">
                    @if (RoleAplikasi.Any(x => x.Role == "DASHBOARD.MAIN.VIEW"))
                    {
                        <li class=" @Html.IsActive(controller: "Beranda")">
                            <a href="@Url.Action("Index","Beranda")" class="nosub">
                                <i class="material-icons">dashboard</i>
                                <span class="title">Beranda</span>
                            </a>
                        </li>

                    }

                    @if (
                        RoleAplikasi.Any(x => x.Role == "VIEW.LIST.MASTER.PROJECT") ||
                        RoleAplikasi.Any(x => x.Role == "VIEW.LIST.MASTER.PROJECT.COST") ||
                        RoleAplikasi.Any(x => x.Role == "VIEW.LIST.MASTER.SO") ||
                        RoleAplikasi.Any(x => x.Role == "VIEW.LIST.MASTER.KPI.ORG") ||
                        RoleAplikasi.Any(x => x.Role == "VIEW.LIST.MASTER.PROGRAM") ||
                        RoleAplikasi.Any(x => x.Role == "VIEW.LIST.MASTER.DEPARTMENT") ||
                        RoleAplikasi.Any(x => x.Role == "VIEW.LIST.MASTER.KATEGORIPROJECT")
                        )
                    {

                        <li href class="auto @Html.IsActive(controller: "Master")">
                            <a href="javascript:;">
                                <i class="material-icons">apps</i>
                                <span class="title">Master Data</span>
                                <span class="arrow material-icons keyss">keyboard_arrow_right</span>
                            </a>
                            <ul class="wraplist wraplist-sub sub-menu dk">
                                @if (RoleAplikasi.Any(x => x.Role == "VIEW.LIST.MASTER.PROJECT.COST"))
                                {
                                    <li class="@Html.IsActive(controller: "Master", action: "MasterProyekCost")">
                                        <a href="@Url.Action("MasterProyekCost","Master")" class="childs">Project Cost</a>
                                    </li>
                                }
                                @if (RoleAplikasi.Any(x => x.Role == "VIEW.LIST.MASTER.KATEGORIPROJECT"))
                                {
                                    <li class="@Html.IsActive(controller: "Master", action: "MasterKategoriProject")">
                                        <a href="@Url.Action("MasterKategoriProject","Master")" class="childs">Project Kategori</a>
                                    </li>
                                }
                                @if (RoleAplikasi.Any(x => x.Role == "VIEW.LIST.MASTER.SO"))
                                {
                                    <li class="@Html.IsActive(controller: "Master", action: "MasterSO")">
                                        <a href="@Url.Action("MasterSO","Master")" class="childs">Strategic Objective</a>
                                    </li>
                                }
                                @if (RoleAplikasi.Any(x => x.Role == "VIEW.LIST.MASTER.KPI.ORG"))
                                {
                                    <li class="@Html.IsActive(controller: "Master", action: "MasterKPI")">
                                        <a href="@Url.Action("MasterKPI","Master")" class="childs">KPI</a>
                                    </li>
                                }
                                @if (RoleAplikasi.Any(x => x.Role == "VIEW.LIST.MASTER.DEPARTMENT"))
                                {
                                    <li class="@Html.IsActive(controller: "Master", action: "MasterDepartement")">
                                        <a href="@Url.Action("MasterDepartement","Master")" class="childs">Unit Kerja</a>
                                    </li>
                                }
                                @if (RoleAplikasi.Any(x => x.Role == "VIEW.LIST.MASTER.PROGRAM"))
                                {
                                    <li class="@Html.IsActive(controller: "Master", action: "MasterProgram")">
                                        <a href="@Url.Action("MasterProgram","Master")" class="childs">Program</a>
                                    </li>
                                }
                                @if (RoleAplikasi.Any(x => x.Role == "VIEW.LIST.MASTER.PROJECT"))
                                {
                                    <li class="@Html.IsActive(controller: "Master", action: "MasterProyek")">
                                        <a href="@Url.Action("MasterProyek","Master")" class="childs">Project</a>
                                    </li>
                                    <li class="@Html.IsActive(controller: "Master", action: "MasterKPIValue")">
                                        <a href="@Url.Action("MasterKPIValue","Master")" class="childs">KPI Value</a>
                                    </li>
                                }
                                <li class="@Html.IsActive(controller: "Master", action: "MasterSLA")">
                                    <a href="@Url.Action("MasterSLA","Master")" class="childs">Master SLA</a>
                                </li>
                                <li class="@Html.IsActive(controller: "Master", action: "MasterHoliday")">
                                    <a href="@Url.Action("MasterHoliday","Master")" class="childs">Master Hari Libur</a>
                                </li>
                                @*<li class="@Html.IsActive(controller: "Master", action: "MasterProjectGroup")">
            <a href="@Url.Action("MasterProjectGroup","Master")" class="childs">Project Group</a>
        </li>*@

                            </ul>
                        </li>
                    }
                    @if (RoleAplikasi.Any(x => x.Role == "VIEW.LIST.USER"))
                    {
                        @*<li class="@Html.IsActive(controller: "ManajemenUser")">
                                <a href="@Url.Action("Index","ManajemenUser")" class="nosub">
                                    <i class="material-icons">people</i>
                                    <span class="title">Manajemen Akun</span>
                                </a>
                            </li>*@
                        <li href class="auto">
                            <a href="javascript:;">
                                <i class="material-icons">apps</i>
                                <span class="title">Manajemen Akun</span>
                                <span class="arrow material-icons keyss">keyboard_arrow_right</span>
                            </a>
                            <ul class="wraplist wraplist-sub sub-menu dk">
                                <li class="@Html.IsActive(controller: "ManajemenUser", action: "Index")">
                                    <a href="@Url.Action("Index", "ManajemenUser")" class="childs">Daftar User</a>
                                </li>
                                <li class="@Html.IsActive(controller: "PJS", action: "PJS")">
                                    <a href="@Url.Action("PJS", "PJS")" class="childs">Daftar PJS</a>
                                </li>
                            </ul>
                        </li>
                    }

                    @if (
                        RoleAplikasi.Any(x => x.Role == "VIEW.LIST.INITIATION") ||
                        RoleAplikasi.Any(x => x.Role == "VIEW.LIST.EXECUTION") ||
                        RoleAplikasi.Any(x => x.Role == "VIEW.LIST.CLOSING") ||
                        RoleAplikasi.Any(x => x.Role == "VIEW.LIST.CHGAPPR")
                        )
                    {
                        <li href class="auto @Html.IsActive(controller: "Proyek")">
                            <a href="javascript:;">
                                <i class="material-icons">apps</i>
                                <span class="title">Project</span>
                                <span class="arrow material-icons keyss">keyboard_arrow_right</span>
                            </a>
                            <ul class="wraplist wraplist-sub sub-menu dk">
                                @if (RoleAplikasi.Any(x => x.Role == "VIEW.LIST.INITIATION"))
                                {
                                    <li class="@Html.IsActive(controller: "Proyek", action: "ProjectInitiation")">
                                        <a href="@Url.Action("ProjectInitiation","Proyek")" class="childs">Project Initiation and Planning</a>
                                    </li>
                                }
                                @if (RoleAplikasi.Any(x => x.Role == "VIEW.LIST.EXECUTION"))
                                {
                                    <li class="@Html.IsActive(controller: "Proyek", action: "ProjectExecution")">
                                        <a href="@Url.Action("ProjectExecution","Proyek")" class="childs">Project Execution</a>
                                    </li>
                                }


                                @if (RoleAplikasi.Any(x => x.Role == "VIEW.LIST.CLOSING"))
                                {
                                    <li class="@Html.IsActive(controller: "Proyek", action: "ProjectClosing")">
                                        <a href="@Url.Action("ProjectClosing","Proyek")" class="childs">Project Closing</a>
                                    </li>
                                }
                                @if (RoleAplikasi.Any(x => x.Role == "VIEW.LIST.INITIATION"))
                                {
                                    <li class="@Html.IsActive(controller: "Proyek", action: "ChangeManagement")">
                                        <a href="@Url.Action("ChangeManagement","Proyek")" class="childs">Project Changes</a>
                                    </li>
                                }
                                @if (RoleAplikasi.Any(x => x.Role == "VIEW.LIST.CHGAPPR"))
                                {
                                    <li class="@Html.IsActive(controller: "ProjectExec", action: "ExecChgAppr")">
                                        <a href="@Url.Action("ExecChgAppr","ProjectExec")" class="childs">Change Approval</a>
                                    </li>
                                    @*<li class="@Html.IsActive(controller: "ProjectExec", action: "ExecKPIProject")">
                                            <a href="@Url.Action("ExecKPIProject","ProjectExec")" class="childs">KPI Project</a>
                                        </li>*@
                                }
                            </ul>
                        </li>
                    }

                    @if (
                        RoleAplikasi.Any(x => x.Role == "REPORT.PROJECT.EVALUATION") ||
                        RoleAplikasi.Any(x => x.Role == "REPORT.SUMMARY")
                        )
                    {
                        <li href class="auto @Html.IsActive(controller: "Laporan")">
                            <a href="javascript:;">
                                <i class="material-icons">library_books</i>
                                <span class="title">Laporan</span>
                                <span class="arrow material-icons keyss">keyboard_arrow_right</span>
                            </a>
                            <ul class="wraplist wraplist-sub sub-menu dk">
                                @if (RoleAplikasi.Any(x => x.Role == "REPORT.PROJECT.EVALUATION"))
                                {
                                    <li class="@Html.IsActive(controller: "Laporan", action: "LaporanAllData")">
                                        <a href="@Url.Action("LaporanAllData","Laporan")" class="childs">All Data</a>
                                    </li>
                                    @*<li class="@Html.IsActive(controller: "Laporan", action: "LaporanMingguan")">
                                            <a href="@Url.Action("LaporanMingguan","Laporan")" class="childs">Laporan Mingguan</a>
                                        </li>
                                        <li class="@Html.IsActive(controller: "Laporan", action: "LaporanMonitoringMingguan")">
                                            <a href="@Url.Action("LaporanMonitoringMingguan","Laporan")" class="childs">Laporan Monitoring</a>
                                        </li>
                                        <li class="@Html.IsActive(controller: "Laporan", action: "LaporanDetailAnggaranView")">
                                            <a href="@Url.Action("LaporanDetailAnggaranView","Laporan")" class="childs">Anggaran Detail</a>
                                        </li>
                                        <li class="@Html.IsActive(controller: "Laporan", action: "LaporanTransformasi")">
                                            <a href="@Url.Action("LaporanTransformasi","Laporan")" class="childs">Evaluasi Capaian</a>
                                        </li>
                                        <li class="@Html.IsActive(controller: "Laporan", action: "LaporanTrenPencapaian")">
                                            <a href="@Url.Action("LaporanTrenPencapaian","Laporan")" class="childs">Tren Pencapaian</a>
                                        </li>
                                        <li class="@Html.IsActive(controller: "Laporan", action: "LaporanKendalaReport")">
                                            <a href="@Url.Action("LaporanKendalaReport","Laporan")" class="childs">Laporan Kendala</a>
                                        </li>*@
                                }
                                @if (RoleAplikasi.Any(x => x.Role == "REPORT.SUMMARY"))
                                {
                                    @*<li class="@Html.IsActive(controller: "Laporan", action: "LaporanSumaryPelaksanaanProyek")">
                                            <a href="@Url.Action("LaporanSumaryPelaksanaanProyek","Laporan")" class="childs">Summary</a>
                                        </li>
                                        <li class="@Html.IsActive(controller: "Laporan", action: "LaporanCapaianProyek")">
                                            <a href="@Url.Action("LaporanCapaianProyek","Laporan")" class="childs">Capaian Program </a>
                                        </li>
                                        <li class="@Html.IsActive(controller: "Laporan", action: "LaporanCapaianDirektorat")">
                                            <a href="@Url.Action("LaporanCapaianDirektorat","Laporan",  new { week = 0  , month= 3 , year= 2019})" class="childs">Capaian Direktorat</a>
                                        </li>
                                        <li class="@Html.IsActive(controller: "Laporan", action: "LaporanCapaianSO")">
                                            <a href="@Url.Action("LaporanCapaianSO","Laporan",  new { week = 0  , month= 3 , year= 2019})" class="childs">Capaian SO</a>
                                        </li>
                                        <li class="@Html.IsActive(controller: "Laporan", action: "LaporanSumaryPenyampaian")">
                                            <a href="@Url.Action("LaporanSumaryPenyampaian","Laporan")" class="childs">Summary Penyampaian</a>
                                        </li>
                                        <li class="@Html.IsActive(controller: "Laporan", action: "LaporanSeriesPertahun")">
                                            <a href="@Url.Action("LaporanSeriesPertahun","Laporan")" class="childs">Laporan Series Pertahun</a>
                                        </li>
                                        <li class="@Html.IsActive(controller: "Laporan", action: "LaporanSeriesGrafik")">
                                            <a href="@Url.Action("LaporanSeriesGrafik","Laporan")" class="childs">Grafik Series</a>
                                        </li>
                                        <li class="@Html.IsActive(controller: "Laporan", action: "LaporanSeriesGrafikCapaian")">
                                            <a href="@Url.Action("LaporanSeriesGrafikCapaian","Laporan")" class="childs">Grafik Series Capaian</a>
                                        </li>
                                        <li class="@Html.IsActive(controller: "Laporan", action: "LaporanGptf")">
                                            <a href="@Url.Action("LaporanGptf","Laporan")" class="childs">Laporan GPTF</a>
                                        </li>*@
                                    @*<li class="@Html.IsActive(controller: "Laporan", action: "LaporanForecast")">
                                            <a href="@Url.Action("LaporanForecast","Laporan")" class="childs">Forecast</a>
                                        </li>*@
                                }
                                <li class="@Html.IsActive(controller: "LaporanM", action: "LaporanMingguan")">
                                    <a href="@Url.Action("LaporanMingguan","LaporanM")" class="childs">Laporan Mingguan</a>
                                </li>
                                @*<li class="@Html.IsActive(controller: "UnderConstruction", action: "index")">
                                        <a href="@Url.Action("index","UnderConstruction")" class="childs">Non Transformasi</a>
                                    </li>*@
                                @*<li class="@Html.IsActive(controller: "Laporan", action: "LaporanProgram")">
                                        <a href="@Url.Action("LaporanProgram","Laporan")" class="childs">Program</a>
                                    </li>*@
                            </ul>
                        </li>
                    }

                    <li href class="auto @Html.IsActive(controller: "Manual")">
                        <a href="javascript:;">
                            <i class="material-icons">folder_shared</i>
                            <span class="title">User Manual</span>
                            <span class="arrow material-icons keyss">keyboard_arrow_right</span>
                        </a>
                        <ul class="wraplist wraplist-sub sub-menu dk">
                            <li class="childs">
                                <a href="@Url.Action("UserADMIN","Manual")">Project Admin</a>
                            </li>
                            <li class="childs">
                                <a href="@Url.Action("UserPM","Manual")">Project Manager</a>
                            </li>
                        </ul>

                    </li>
                </ul>
            </div>
        </div>


        <section id="main-content" class="@Mainbar" style="">
            <section class="wrapper main-wrapper ng-scope">

                @if (Request.Browser.Type.ToUpper().Contains("INTERNETEXPLORER") || Request.Browser.Type.ToUpper().Contains("IE"))
                {
                    <button class="btn btn-danger" disabled>Aplikasi ini tidak dapat bekerja maksimal pada Internet Explorer, disarankan untuk menggunakan Google Chrome</button>
                }

                <div class="content-wrapper">

                    @Html.Raw(Html.BuildBreadcrumbNavigation(title))

                    @RenderBody()
                </div>
            </section>
        </section>


    </div>
    <!-- END TOPBAR -->

    <script>
        $(function () {
            $(".toggle").click(function () {
                if ($('#toggle').hasClass("open")) {
                    $('#toggle').removeClass("open");
                } else {
                    $('#toggle').addClass("open");
                }
            });
        });

    </script>

    <script>
        $.ajax({
                type: "POST",
                url: '@Url.Action("Notification", "Notification", new { PersonNumber = Session["PersonalNumber"].ToString() })',
                data: @Session["PersonalNumber"].ToString(),
                success: function (result) {
                    debugger;
                    var UrlNotif = ''

                    $('#Jmlh_Notif1').text(result.length);
                    $('#Jmlh_Notif2').text(result.length);

                    for (var i = 0; i < result.length; i++) {

                        if (result[i]['Phase'] == "Initiation and Planning") {
                            UrlNotif = '@Url.Action("ProjectInitiationCreate", "Proyek")';//, new { IDProjectHeader = item.IDProjectHeader })
                            $('#Notif').append('<li class="unread available"><a href="' + UrlNotif + '?IDProjectHeader=' + result[i]['IDProject'] +'"><div class="notice-icon"><i class="fa fa-check"></i></div><div><span class="name"><strong>Initiation</strong><br /><strong>' + result[i]['ProjectName'] + '</strong><span class="time small"> ' + result[i]['Category'] + '</span></div></a></li>');
                        }
                        else if (result[i]['Phase'] == "Execution") {
                            UrlNotif = '@Url.Action("ProjectExecutionReport", "Proyek")';//, new {ProjectHeaderID = item.ProyekPK, IsTransformasi = item.isTransformasi})';
                            $('#Notif').append('<li class="unread away"><a href="' + UrlNotif + '?ProjectHeaderID=' + result[i]['IDProject'] + '&IsTransformasi=1' + '"><div class="notice-icon"><i class="fa fa-check"></i></div><div><span class="name"><strong>Execution</strong><br /><strong>' + result[i]['ProjectName'] + '</strong><span class="time small"> ' + result[i]['Category'] + '</span></div></a></li>');

                        }else if (result[i]['Phase'] == "Closing") {
                            UrlNotif = '@Url.Action("ProjectClosingCreate", "Proyek")';
                            $('#Notif').append('<li class="unread busy"><a href="' + UrlNotif + '?IDProjectHeader=' + result[i]['IDProject'] +'"><div class="notice-icon"><i class="fa fa-check"></i></div><div><span class="name"><strong>Closing</strong><br /><strong>' + result[i]['ProjectName'] + '</strong><span class="time small"> ' + result[i]['Category'] + '</span></div></a></li>');
                        }
                        else if (result[i]['Phase'] == "Changes") {
                            UrlNotif = '@Url.Action("ChangeManagementDetail", "Proyek")';
                            $('#Notif').append('<li class="unread offline"><a href="' + UrlNotif + '?IDProjectHeader=' + result[i]['IDProject'] +'"><div class="notice-icon"><i class="fa fa-check"></i></div><div><span class="name"><strong>Change Management</strong><br /><strong>' + result[i]['ProjectName'] + '</strong><span class="time small"> ' + result[i]['Category'] + '</span></div></a></li>');
                        }
                    }
                },
                error: function (xhr, ajaxOptions, thrownError) {
                    alert(xhr.status);
                    alert(thrownError);
                }
            });
    </script>

    <script src="~/Scripts/app.main.js"></script>
    <script src="~/Scripts/jquery.dataTables.min.js"></script>
    <script src="~/Scripts/dataTables.rowsGroup.js"></script>

</body>
</html>
